<div class="flex flex-col">
    <app-nav2></app-nav2>
    <div>
        <svg class="flex float-right" height="500px" viewBox="0 0 780 613" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_3_8" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="780"
                height="613">
                <rect width="780" height="613" fill="#C4C4C4" />
            </mask>
            <g mask="url(#mask0_3_8)">
                <path
                    d="M135.267 414.532C64.7841 508.827 71.3481 588.038 209.23 613H782V0H81.925C-116.756 169.823 321.544 165.322 135.267 414.532Z"
                    fill="#1B3764" />
                <path
                    d="M1172.61 287C1172.61 416.882 1054.31 524.5 905.337 524.5C756.368 524.5 638.067 416.882 638.067 287C638.067 157.118 756.368 49.5 905.337 49.5C1054.31 49.5 1172.61 157.118 1172.61 287Z"
                    stroke="#F5F6F8" stroke-opacity="0.3" stroke-width="25" />
            </g>
        </svg>

        <div class="absolute flex flex-row mt-32 w-full gap-20 justify-between m-5">
            <div class="mb-10">
                <div class="font-bold text-6xl mt-5 mb-10">ALL BOOKS</div>
                <a routerLink="/addNewBook" class="bg-yellow-400 text-white py-2 px-4 rounded-xl font-semibold ">Add New
                    book</a>
            </div>
            <svg class="flex float-right " width="400" height="315" viewBox="0 0 435 315" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M340.34 69.59L339.64 68.79C341.41 67.25 342.51 66.43 342.56 66.39L343.19 67.25C343.19 67.25 342.07 68.08 340.34 69.59Z"
                    fill="#CCC3BC" />
                <path
                    d="M326.02 226.88L325.98 225.81C328.49 225.72 330.95 225.62 333.34 225.5L333.4 226.56C331 226.69 328.54 226.79 326.02 226.88ZM337.62 226.32L337.55 225.26C340.02 225.1 342.49 224.92 344.9 224.72L344.99 225.78C342.58 225.99 340.1 226.17 337.62 226.33V226.32ZM349.19 225.39L349.09 224.33C351.58 224.09 354.04 223.81 356.41 223.51L356.54 224.57C354.16 224.87 351.69 225.15 349.19 225.39ZM360.72 224.01L360.57 222.95C363.07 222.59 365.51 222.2 367.84 221.79L368.03 222.84C365.69 223.25 363.24 223.65 360.73 224.01H360.72ZM372.17 222.06L371.96 221.01C374.41 220.52 376.83 219.99 379.14 219.42L379.39 220.46C377.07 221.03 374.64 221.57 372.17 222.06ZM383.49 219.4L383.21 218.37C385.64 217.7 388.01 216.98 390.23 216.22L390.57 217.23C388.33 217.99 385.94 218.72 383.49 219.4ZM394.55 215.8L394.17 214.8C396.53 213.89 398.79 212.92 400.9 211.91L401.36 212.87C399.23 213.9 396.94 214.88 394.55 215.8ZM405.13 210.93L404.61 210C406.82 208.77 408.9 207.46 410.79 206.11L411.41 206.97C409.49 208.35 407.38 209.69 405.13 210.93ZM414.76 204.34L414.07 203.53C415.97 201.9 417.7 200.17 419.19 198.37L420.01 199.05C418.47 200.89 416.71 202.67 414.76 204.34ZM422.56 195.63L421.67 195.04C423.01 193.01 424.14 190.85 425.03 188.62L426.02 189.01C425.1 191.31 423.94 193.54 422.56 195.63ZM427.37 184.96L426.34 184.68C426.95 182.41 427.37 180 427.57 177.52L428.63 177.61C428.42 180.16 428 182.63 427.37 184.96ZM427.72 173.35C427.72 172.42 427.68 171.46 427.62 170.49C427.53 168.98 427.37 167.5 427.15 166.07L428.2 165.91C428.43 167.37 428.59 168.89 428.68 170.42C428.74 171.41 428.77 172.39 428.78 173.33H427.71L427.72 173.35ZM426.31 162.01C425.69 159.6 424.86 157.31 423.84 155.18L424.8 154.72C425.85 156.91 426.71 159.27 427.34 161.74L426.31 162.01ZM421.81 151.57C420.5 149.53 418.95 147.65 417.22 145.97L417.96 145.21C419.75 146.95 421.34 148.89 422.7 151L421.8 151.58L421.81 151.57ZM414.07 143.27C412.19 141.85 410.1 140.59 407.86 139.52L408.32 138.56C410.63 139.66 412.78 140.96 414.72 142.42L414.08 143.27H414.07ZM404.02 137.93C401.82 137.14 399.45 136.49 396.99 135.99L397.2 134.94C399.71 135.45 402.13 136.11 404.38 136.92L404.02 137.92V137.93ZM352.81 137.51C352.18 137.51 351.55 137.51 350.93 137.48L350.96 136.41C353.29 136.47 355.76 136.41 358.28 136.22L358.36 137.28C356.47 137.42 354.61 137.49 352.81 137.49V137.51ZM346.69 137.22C344.13 136.97 341.66 136.56 339.34 135.99L339.59 134.95C341.86 135.51 344.28 135.91 346.79 136.15L346.69 137.21V137.22ZM362.59 136.87L362.46 135.81C363.7 135.65 364.97 135.47 366.25 135.25C367.43 135.05 368.6 134.87 369.75 134.71L369.9 135.77C368.76 135.93 367.6 136.11 366.43 136.31C365.14 136.53 363.85 136.72 362.6 136.88L362.59 136.87ZM392.88 135.31C390.55 135.01 388.09 134.83 385.58 134.77L385.6 133.7C388.15 133.76 390.65 133.94 393.01 134.25L392.87 135.31H392.88ZM374.07 135.26L373.96 134.2C376.48 133.94 378.97 133.78 381.36 133.71L381.39 134.78C379.03 134.84 376.56 135 374.07 135.26ZM335.26 134.77C332.81 133.9 330.54 132.83 328.5 131.58L329.06 130.67C331.03 131.88 333.24 132.92 335.62 133.76L335.26 134.77ZM325.01 129.08C323.03 127.43 321.34 125.55 319.99 123.5L320.88 122.91C322.17 124.87 323.79 126.67 325.7 128.26L325.02 129.08H325.01ZM317.95 119.71C316.98 117.41 316.37 114.96 316.15 112.42L317.21 112.33C317.42 114.76 318 117.11 318.93 119.3L317.95 119.72V119.71ZM317.19 108.2L316.13 108.12C316.28 106.14 316.65 104.11 317.23 102.09C317.35 101.65 317.49 101.22 317.62 100.78L318.64 101.1C318.51 101.52 318.38 101.95 318.26 102.38C317.7 104.33 317.34 106.29 317.2 108.2H317.19ZM320.05 97.17L319.06 96.77C319.96 94.53 321.04 92.27 322.26 90.05L323.19 90.56C321.99 92.74 320.93 94.96 320.04 97.16L320.05 97.17ZM325.33 86.97L324.43 86.4C325.73 84.36 327.17 82.32 328.73 80.33L329.57 80.99C328.04 82.95 326.61 84.96 325.34 86.97H325.33ZM332.23 77.75L331.42 77.05C333.04 75.19 334.75 73.37 336.53 71.65L337.27 72.42C335.52 74.12 333.82 75.91 332.23 77.75Z"
                    fill="#CCC3BC" />
                <path
                    d="M317.79 227.09L317.77 226.02C319.03 226 320.27 225.98 321.5 225.95L321.53 227.02C320.3 227.05 319.05 227.08 317.79 227.09Z"
                    fill="#CCC3BC" />
                <path d="M342.87 55.3L322.59 42.02L410.07 24.89L342.87 55.3Z" fill="#F2E2E5" />
                <path d="M342.87 55.3L348.77 68.61L410.07 24.89L342.87 55.3Z" fill="#E0D3D5" />
                <path d="M351.56 61.54L348.77 68.61L361.89 59.91L351.56 61.54Z" fill="#CCBEC1" />
                <path d="M351.56 61.54L368.26 89.62L410.07 24.89L351.56 61.54Z" fill="#F2E2E5" />
                <path
                    d="M33.9899 240.57C33.9899 240.57 16.2099 244.87 6.96994 248.85C-2.28006 252.83 -14.6701 252.56 83.6199 269.05C181.91 285.54 188.52 288.65 185.4 293.19C182.27 297.72 226.28 301.72 243.08 299.86C259.88 298 265.75 293.19 265.75 293.19C265.75 293.19 303.9 296.66 328.17 314.26C367.02 297.99 434.31 269.05 434.31 269.05L380.69 255.85L33.9899 240.57Z"
                    fill="#E8E2DD" />
                <path d="M308.86 239.09L299.46 238.01L296.33 241.79L308.86 239.09Z" fill="#0A6C8E" />
                <path
                    d="M272.14 16.48L272.08 61.78C272.08 61.78 218.8 65.87 207.24 62.21C195.68 58.55 201.11 43.27 201.12 35.97C201.13 28.67 201.31 10.9 203.17 6.71001C205.03 2.52001 213.82 4.71001 224.62 6.05001C235.42 7.39001 272.14 16.47 272.14 16.47V16.48Z"
                    fill="#EEE6DE" />
                <path
                    d="M201.11 35.97C201.12 28.67 201.3 10.9 203.16 6.71001C205.02 2.52001 213.81 4.71001 224.61 6.05001C235.41 7.39001 272.13 16.47 272.13 16.47V24.06C262.24 21.66 236.58 16.73 227.99 15.66C217.19 14.31 209.57 12.89 207.71 17.07C205.85 21.25 205.22 37.26 205.21 44.56C205.21 48.58 203.56 55.01 204.01 60.6C196.81 55.28 201.1 42.46 201.11 35.97Z"
                    fill="#EFD5BF" />
                <g opacity="0.58">
                    <g style="mix-blend-mode:multiply">
                        <path d="M201.43 7.35001L271.61 20.15C271.61 20.15 215.29 7.76001 201.43 7.35001Z"
                            fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M199.57 33.34L270.38 38.86C270.38 38.86 213.36 32.41 199.57 33.34Z" fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M199.57 30.45L270.34 37.78C270.34 37.78 213.38 29.78 199.57 30.45Z" fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M199.57 28.7L270.34 36.03C270.34 36.03 213.38 28.03 199.57 28.7Z" fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M199.6 26.4L270.32 34.43C270.32 34.43 213.42 25.86 199.6 26.4Z" fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M199.67 23.34L270.26 32.86C270.26 32.86 213.51 23.1 199.67 23.34Z" fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M199.67 21.14L270.26 30.64C270.26 30.64 213.51 20.89 199.67 21.14Z" fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M199.71 18.44L270.23 28.63C270.23 28.63 213.56 18.33 199.71 18.44Z" fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M199.71 15.92L270.23 26.11C270.23 26.11 213.56 15.81 199.71 15.92Z" fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M199.76 13.35L270.19 24.3C270.19 24.3 213.61 13.39 199.76 13.35Z" fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M199.46 10.48L269.89 21.43C269.89 21.43 213.31 10.52 199.46 10.48Z" fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M201.59 57.34L269.89 57.25C269.89 57.25 215.35 59.3 201.59 57.34Z" fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M199.84 35.52L270.09 40.26C270.09 40.26 213.69 38.05 199.84 35.52Z" fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M199.86 37.85L270.06 41.88C270.06 41.88 213.57 40.76 199.86 37.85Z" fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M199.92 40.94L270 43.45C270 43.45 213.65 43.55 199.92 40.94Z" fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M199.91 43.15L269.99 45.68C269.99 45.68 213.64 45.77 199.91 43.15Z" fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M199.94 45.88L269.95 47.7C269.95 47.7 213.68 48.36 199.94 45.88Z" fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M199.93 48.42L269.94 50.24C269.94 50.24 213.67 50.9 199.93 48.42Z" fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M199.96 51.02L269.89 52.06C269.89 52.06 213.71 53.35 199.96 51.02Z" fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M199.65 53.86L269.58 54.9C269.58 54.9 213.4 56.19 199.65 53.86Z" fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M201.03 59.46L271.28 60.27C271.28 60.27 214.81 61.48 201.03 59.46Z" fill="#E8D3C1" />
                    </g>
                </g>
                <path
                    d="M208.4 0.429993C208.4 0.429993 92.2499 12.94 82.7799 15.76C73.3099 18.58 75.4599 46.7 77.0799 55.42C78.6999 64.14 85.0899 66.69 91.8799 66.96C98.6699 67.23 218.43 66.74 218.43 66.74C218.43 66.74 202.28 63.78 200.57 51.51C198.86 39.24 201.67 14.85 202.22 10.7C202.77 6.56 208.4 0.429993 208.4 0.429993Z"
                    fill="#9E6718" />
                <path
                    d="M157.15 53.74C155.56 41.77 158.17 17.97 158.68 13.93C159.03 11.16 161.61 7.46999 163.19 5.42999C163.19 5.42999 163.19 5.42999 163.18 5.42999C160.45 5.74999 157.67 6.09 154.87 6.42C153.28 8.51 150.99 11.92 150.67 14.52C150.16 18.56 147.55 42.36 149.14 54.33C150.07 61.32 153.26 65.05 155.76 66.94C158.71 66.94 161.66 66.92 164.58 66.91C162.01 65.23 158.19 61.49 157.16 53.72L157.15 53.74Z"
                    fill="#FFD773" />
                <path
                    d="M143.23 54.15C141.64 42.48 144.25 19.29 144.76 15.36C145.11 12.67 147.67 9.1 149.25 7.11C146.46 7.45 143.67 7.79 140.88 8.13C139.3 10.17 137.06 13.43 136.74 15.94C136.23 19.88 133.62 43.07 135.21 54.73C136.13 61.5 139.29 65.13 141.79 67C144.7 67 147.64 66.99 150.6 66.98C148.03 65.33 144.25 61.67 143.23 54.16V54.15Z"
                    fill="#FFD773" />
                <path
                    d="M197.55 32.97C197.64 31.12 197.73 29.33 197.79 27.66C197.83 26.55 197.86 25.42 197.89 24.29C198.11 15.52 198.35 6.45999 203.48 2.38999C205.8 0.549993 208.8 -0.0400057 212.39 0.609994C222.73 2.48999 266.42 11.81 275.84 13.82V19.99C269.68 18.67 222.09 8.50999 211.5 6.58999C209.11 6.15999 208.04 6.73 207.45 7.19C204.44 9.58 204.23 17.6 204.05 24.68C204.02 25.83 203.99 26.98 203.95 28.1C203.89 29.8 203.73 32.77 203.7 33.5C203.65 35.06 202.84 57.01 206.54 59.45C210.65 61.46 244.78 63.2 275.76 61.68V67.78C263.71 68.37 235.97 67.43 218.41 66.72C211.19 66.43 205.69 65.82 203.71 64.73C196.15 60.56 196.86 46.52 197.54 32.95L197.55 32.97Z"
                    fill="#87510A" />
                <g style="mix-blend-mode:multiply">
                    <path
                        d="M207.38 41.22C207.38 41.22 208.46 56.27 208.34 65.94C214.11 66.56 220.32 66.81 220.32 66.81C220.32 66.81 217.74 41.9 207.38 41.22Z"
                        fill="#EFD5BF" />
                </g>
                <g style="mix-blend-mode:overlay" opacity="0.46">
                    <path
                        d="M84.4298 17.41C84.4298 17.41 163 8.24001 175.87 7.03001C188.74 5.82001 193.1 4.67 194.86 5.9C196.62 7.13 195.86 18.5 194.86 20.16C193.86 21.83 185.98 21.75 177.32 21.98C168.67 22.21 84.2698 26.05 81.8198 26.12C79.3698 26.19 79.8298 22.26 80.6998 20.68C81.5698 19.1 82.6498 17.62 84.4298 17.41Z"
                        fill="white" />
                </g>
                <path
                    d="M275.84 112.6C275.84 112.6 281.72 128.39 281.52 141.4C283.68 138.35 285.83 134.23 285.83 134.23L292.83 140.5C292.83 140.5 288.51 111.5 282.96 102.68C277.41 93.86 275.84 112.59 275.84 112.59V112.6Z"
                    fill="#EE6D4A" />
                <path
                    d="M65.3099 113.08L86.4299 126.67H263.39L282.96 113.08C282.96 113.08 197.52 110.16 169.51 108.09C141.5 106.02 65.3099 113.08 65.3099 113.08Z"
                    fill="#007F7C" />
                <path
                    d="M65.3099 65.85C65.3099 65.85 274.58 66.73 282.23 67.61C286.93 69.08 286.64 81.13 286.93 91.42C287.22 101.71 287.52 111.53 282.96 113.08C278.4 114.64 68.7399 113.19 65.3099 113.08C61.8799 112.97 59.5299 106.31 59.1399 95.53C58.7499 84.75 57.5799 65.81 65.3099 65.84V65.85Z"
                    fill="#00AAAC" />
                <path
                    d="M87.27 65.95C84.52 65.94 81.97 65.93 79.67 65.91C78.84 67.03 77.95 68.98 77.95 72.21V102.14C77.95 106.05 79.85 110.62 81.3 113.21C84.1 113.23 87.22 113.25 90.61 113.27C88.82 111.27 86.07 107.52 85.47 102.8C84.56 95.66 84.71 77.59 85.08 73.33C85.37 69.99 86.27 67.2 87.27 65.93V65.95Z"
                    fill="#4CEDE5" />
                <path
                    d="M100.59 66.01C97.9399 66 95.4099 65.98 92.9899 65.97C92.1699 67.1 91.3199 69.04 91.3199 72.21V102.14C91.3199 106.1 93.2599 110.73 94.7199 113.31C97.6699 113.33 100.79 113.35 104.06 113.37C102.27 111.39 99.4499 107.6 98.8399 102.81C97.9299 95.67 98.0799 77.6 98.4499 73.34C98.7299 70.06 99.6099 67.31 100.59 66.01Z"
                    fill="#4CEDE5" />
                <path
                    d="M257.17 113.7C260.52 113.68 263.61 113.65 266.41 113.62C267.84 110.99 269.62 106.61 269.62 102.82V72.89C269.62 70.21 269.01 68.42 268.33 67.25C266.01 67.21 263.44 67.18 260.66 67.14C261.52 68.56 262.25 71.08 262.5 74.02C262.87 78.28 263.01 96.36 262.11 103.49C261.53 108.03 258.98 111.65 257.19 113.7H257.17Z"
                    fill="#4CEDE5" />
                <path
                    d="M243.74 113.77C246.97 113.76 250.05 113.75 252.97 113.73C254.41 111.11 256.23 106.66 256.23 102.82V72.89C256.23 70.08 255.56 68.24 254.84 67.07C252.4 67.04 249.84 67.01 247.16 66.99C248.06 68.38 248.84 70.96 249.11 74.02C249.48 78.28 249.62 96.36 248.72 103.49C248.14 108.08 245.53 111.73 243.74 113.77Z"
                    fill="#4CEDE5" />
                <g style="mix-blend-mode:overlay">
                    <path
                        d="M65.3099 69.08H277.33C282.23 69.08 283.89 71.28 284.29 75.19C284.68 79.1 283.11 79.77 273.32 79.65C263.52 79.53 71.7899 79.65 65.3199 79.65C58.8499 79.65 60.4699 69.08 65.3199 69.08H65.3099Z"
                        fill="#00C1BC" />
                </g>
                <path
                    d="M181.44 277.58C181.44 277.58 44.7899 250.43 34.5999 247.33C24.4099 244.23 21.3099 214.11 32.8299 210.34C44.3499 206.57 174.59 198.6 174.59 198.6L326.2 207.3L181.44 277.59V277.58Z"
                    fill="#167BA8" />
                <path
                    d="M34.6099 247.32C44.7999 250.42 181.45 277.57 181.45 277.57L259.5 237.79L28.5599 213.71C22.4299 222.66 25.9699 244.69 34.6099 247.32Z"
                    fill="#3989B4" />
                <path
                    d="M322.55 210.92C294.43 213.24 194.04 221.99 180.35 229.6C164.4 238.46 169.72 273.46 183.01 274.34C193.78 275.06 287.38 255.14 322.55 247.54V210.91V210.92Z"
                    fill="#EEE6DE" />
                <path
                    d="M187.72 240.56C200.4 233.52 287.41 225.49 322.55 222.5V210.92C294.43 213.24 194.04 221.99 180.35 229.6C165.87 237.64 168.92 267.23 179.55 273.27C176.08 262.01 177.7 246.13 187.72 240.56Z"
                    fill="#EFD5BF" />
                <path
                    d="M326.2 243.36C283.37 252.65 196.02 271.05 183.79 271.04C183.58 271.04 183.39 271.04 183.23 271.02C179.7 270.78 176.28 265.91 174.7 258.88C172.49 249 174.27 236.77 181.96 232.5C194.1 225.75 286.66 217.12 326.2 213.95V207.28C302.31 209.19 193.92 218.25 178.73 226.69C167.7 232.82 165.55 248.43 168.21 260.33C170.5 270.56 175.31 277.16 182 277.61C182.21 277.62 183.23 277.67 183.5 277.67C198 277.67 292.75 257.4 326.19 250.15V243.35L326.2 243.36Z"
                    fill="#0A759B" />
                <g style="mix-blend-mode:multiply">
                    <path d="M183.01 235.15L320.78 216.32C320.78 216.32 209.37 228.5 183.01 235.15Z" fill="#E8D3C1" />
                </g>
                <g style="mix-blend-mode:multiply">
                    <path d="M181.35 238.99L319.12 220.16C319.12 220.16 207.71 232.34 181.35 238.99Z" fill="#E8D3C1" />
                </g>
                <g style="mix-blend-mode:multiply">
                    <path d="M177.81 243.31L318.01 223.62C318.01 223.62 204.17 236.66 177.81 243.31Z" fill="#E8D3C1" />
                </g>
                <g style="mix-blend-mode:multiply">
                    <path d="M177.65 247.65L317.79 226.55C317.79 226.55 204.01 241 177.65 247.65Z" fill="#E8D3C1" />
                </g>
                <g style="mix-blend-mode:multiply">
                    <path d="M177.65 251.56L317.79 229.58C317.79 229.58 204.01 244.92 177.65 251.56Z" fill="#E8D3C1" />
                </g>
                <g style="mix-blend-mode:multiply">
                    <path d="M177.65 255.21L317.79 232.09C317.79 232.09 204.01 248.57 177.65 255.21Z" fill="#E8D3C1" />
                </g>
                <g style="mix-blend-mode:multiply">
                    <path d="M178.72 257.82L318.01 234.92C318.01 234.92 205.08 251.17 178.72 257.82Z" fill="#E8D3C1" />
                </g>
                <g style="mix-blend-mode:multiply">
                    <path d="M178.72 260.97L317.79 237.8C317.79 237.8 205.08 254.33 178.72 260.97Z" fill="#E8D3C1" />
                </g>
                <g style="mix-blend-mode:multiply">
                    <path d="M180.7 264.63L318.34 239.74C318.34 239.74 207.05 257.99 180.7 264.63Z" fill="#E8D3C1" />
                </g>
                <g style="mix-blend-mode:multiply">
                    <path d="M183.01 267.85L319.12 242.15C319.12 242.15 209.36 261.21 183.01 267.85Z" fill="#E8D3C1" />
                </g>
                <path
                    d="M30.3399 215.65C30.3399 215.65 122.87 229.27 142.14 232.1C161.41 234.92 166.06 234.09 165.4 242.15C164.74 250.21 162.08 250.18 134.67 246.37C107.26 242.56 35.4999 228.61 30.3499 227.78C25.1999 226.95 27.4899 215.23 30.3499 215.65H30.3399Z"
                    fill="#3C9CC6" />
                <path
                    d="M117.44 261.9C117.26 261.9 117.09 261.89 116.91 261.86C92.1599 257.85 62.3799 251.57 53.8399 249.74C52.1999 249.39 50.8999 248.12 50.5099 246.5C49.3399 241.62 47.2499 229.42 53.0799 221.53C53.9099 220.41 55.3199 219.83 56.7599 220L119.5 227.69C120.46 227.81 121.32 228.33 121.87 229.12C122.41 229.91 122.6 230.89 122.37 231.82C121.25 236.4 119.55 245.93 120.69 258.29C120.78 259.32 120.41 260.31 119.66 261.01C119.05 261.58 118.26 261.89 117.44 261.89V261.9ZM56.2499 220.76C55.2399 220.76 54.2999 221.21 53.7199 222C48.0899 229.62 50.1399 241.54 51.2899 246.31C51.6099 247.64 52.6799 248.68 54.0199 248.96C62.5499 250.79 92.3199 257.06 117.05 261.07C117.82 261.19 118.57 260.96 119.13 260.44C119.7 259.91 119.99 259.15 119.92 258.36C118.77 245.89 120.49 236.26 121.62 231.63C121.79 230.92 121.65 230.17 121.24 229.57C120.82 228.96 120.16 228.56 119.42 228.47L56.6799 220.78C56.5399 220.76 56.3999 220.75 56.2699 220.75L56.2499 220.76Z"
                    fill="#B6E2FF" />
                <path
                    d="M141.97 260.97C146.007 260.97 149.28 256.403 149.28 250.77C149.28 245.137 146.007 240.57 141.97 240.57C137.933 240.57 134.66 245.137 134.66 250.77C134.66 256.403 137.933 260.97 141.97 260.97Z"
                    fill="#003E60" />
                <path
                    d="M136.49 251.1C136.49 245.47 139.76 240.9 143.79 240.9C143.21 240.69 142.6 240.57 141.97 240.57C137.93 240.57 134.66 245.14 134.66 250.77C134.66 256.4 137.93 260.97 141.97 260.97C138.82 259.84 136.48 255.86 136.48 251.1H136.49Z"
                    fill="#0A759B" />
                <path
                    d="M42.1899 240.05C45.2771 240.05 47.7799 236.553 47.7799 232.24C47.7799 227.927 45.2771 224.43 42.1899 224.43C39.1026 224.43 36.5999 227.927 36.5999 232.24C36.5999 236.553 39.1026 240.05 42.1899 240.05Z"
                    fill="#003E60" />
                <path
                    d="M37.9999 232.5C37.9999 228.19 40.4999 224.7 43.5899 224.69C43.1399 224.53 42.6799 224.44 42.1999 224.44C39.1099 224.44 36.6099 227.93 36.6099 232.25C36.6099 236.57 39.1099 240.06 42.1999 240.06C39.7899 239.19 37.9999 236.15 37.9999 232.51V232.5Z"
                    fill="#0A759B" />
                <g style="mix-blend-mode:multiply">
                    <path
                        d="M184.37 250.11C184.37 250.11 185.56 267 185.44 277.57C188.52 277.34 198.01 275.95 198.01 275.95C198.01 275.95 195.51 250.41 184.37 250.11Z"
                        fill="#EFD5BF" />
                </g>
                <path
                    d="M184.37 250.05C184.37 250.05 195.73 257.26 196.4 291.28C201.72 285.76 205.37 282.25 205.37 282.25L214.97 287.86C214.97 287.86 208.66 251.86 201.21 246.82C190.28 248.03 184.36 250.05 184.36 250.05H184.37Z"
                    fill="#EE6D4A" />
                <path
                    d="M164.94 223.63C164.94 223.63 284.25 209.17 293.04 205.98C301.84 202.79 304.51 176.63 294.57 173.96C284.63 171.29 172.2 165.43 172.2 165.43L41.3199 169.91L164.93 223.63H164.94Z"
                    fill="#E0512F" />
                <path
                    d="M293.05 205.98C284.25 209.17 164.95 223.63 164.95 223.63L106.92 189.42L165.22 178.04L298.28 176.67C303.57 184.09 300.51 203.28 293.06 205.99L293.05 205.98Z"
                    fill="#EE6D4A" />
                <path
                    d="M44.49 172.87C68.77 173.46 155.42 175.94 167.24 181.82C181.01 188.66 176.42 219.14 164.95 220.58C155.66 221.74 74.86 209.27 44.49 204.49V172.87Z"
                    fill="#EEE6DE" />
                <path
                    d="M160.87 191.66C149.93 186.22 74.81 183.68 44.48 182.87V172.87C68.76 173.46 155.41 175.94 167.23 181.82C179.73 188.03 177.1 213.73 167.92 219.48C170.92 209.59 169.52 195.96 160.87 191.66Z"
                    fill="#EFD5BF" />
                <path
                    d="M41.33 201.06C78.3 206.92 153.7 218.39 164.26 217.77C164.44 217.76 164.6 217.75 164.75 217.73C167.79 217.35 170.75 212.97 172.11 206.82C174.02 198.18 172.48 187.71 165.84 184.41C155.36 179.2 75.46 176.41 41.33 175.67V169.92C61.95 170.36 155.51 172.71 168.63 179.23C178.15 183.96 180.01 197.33 177.71 207.74C175.73 216.69 170.91 222.7 165.14 223.42C164.96 223.44 164.75 223.46 164.52 223.48C152 224.21 70.21 211.5 41.34 206.92V201.05L41.33 201.06Z"
                    fill="#F48369" />
                <g opacity="0.58">
                    <g style="mix-blend-mode:multiply">
                        <path d="M164.94 186.74L46.01 177.44C46.01 177.44 142.18 182.33 164.94 186.74Z"
                            fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M166.37 189.97L47.4401 180.67C47.4401 180.67 143.61 185.56 166.37 189.97Z"
                            fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M169.43 193.52L48.41 183.6C48.41 183.6 146.68 189.11 169.43 193.52Z" fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M169.57 197.27L48.6 186.13C48.6 186.13 146.82 192.87 169.57 197.27Z" fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M169.57 200.64L48.6 188.74C48.6 188.74 146.82 196.24 169.57 200.64Z" fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M169.57 203.79L48.6 190.9C48.6 190.9 146.82 199.38 169.57 203.79Z" fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M168.65 206.09L48.41 193.35C48.41 193.35 145.9 201.68 168.65 206.09Z" fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M168.65 208.82L48.6 195.83C48.6 195.83 145.9 204.41 168.65 208.82Z" fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M166.94 212.07L48.12 197.53C48.12 197.53 144.18 207.67 166.94 212.07Z"
                            fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M164.94 214.97L47.4401 199.65C47.4401 199.65 142.18 210.56 164.94 214.97Z"
                            fill="#E8D3C1" />
                    </g>
                </g>
                <path
                    d="M296.86 179.4C296.86 179.4 221.95 185.23 202.33 187.18C185.43 188.86 180.65 187.7 181.23 194.62C181.8 201.54 191.47 200.08 215.45 197.52C242.08 194.67 292.28 189.86 296.73 188.89C301.18 187.91 299.33 178.89 296.86 179.4Z"
                    fill="#F48369" />
                <path
                    d="M285.2 207.6C285.03 207.59 284.87 207.46 284.82 207.29C284.76 207.08 284.88 206.87 285.09 206.82C286.37 206.54 290.48 203.9 291.12 201.06C291.78 198.11 292.62 191.36 293.03 185.69C293.41 180.33 289.74 178.17 289.58 178.08C289.39 177.97 289.31 177.73 289.4 177.54C289.5 177.35 289.73 177.28 289.93 177.4C289.97 177.42 294.23 179.89 293.81 185.8C293.4 191.5 292.56 198.3 291.89 201.28C291.2 204.37 286.87 207.26 285.31 207.6C285.27 207.6 285.24 207.61 285.2 207.6Z"
                    fill="#F9A0A0" />
                <path
                    d="M280.06 208.14C279.89 208.13 279.73 208 279.68 207.83C279.62 207.62 279.74 207.41 279.95 207.36C281.23 207.08 285.34 204.44 285.98 201.6C286.64 198.65 287.48 191.9 287.89 186.23C288.27 180.87 284.6 178.71 284.44 178.62C284.25 178.51 284.17 178.27 284.26 178.08C284.36 177.89 284.59 177.82 284.79 177.94C284.83 177.96 289.09 180.43 288.67 186.34C288.26 192.04 287.42 198.84 286.75 201.82C286.06 204.91 281.73 207.8 280.17 208.14C280.13 208.14 280.1 208.15 280.06 208.14Z"
                    fill="#F9A0A0" />
                <path
                    d="M197.79 194.68C198.25 204.27 196.87 211.23 192.86 220.18C196.06 219.78 199.43 219.35 202.94 218.91C203.32 217.99 206.96 208.9 207.08 196.17C207.14 190 205.38 185.77 203.46 182.98L194.11 183.6C195.84 186.29 197.56 190.06 197.78 194.68H197.79Z"
                    fill="#CC3A1D" />
                <path
                    d="M212.5 193.72C212.95 202.97 211.65 209.79 207.97 218.28C211.25 217.86 214.61 217.43 218.02 217C219.05 214.21 221.69 206.02 221.79 195.21C221.85 189.03 220.09 184.8 218.17 182.01L208.82 182.63C210.55 185.32 212.28 189.1 212.5 193.72Z"
                    fill="#CC3A1D" />
                <g style="mix-blend-mode:multiply">
                    <path
                        d="M160.23 195.83C160.23 195.83 159.13 213.49 159.23 223.35C156.36 223.13 147.21 222.26 147.21 222.26C147.21 222.26 149.84 196.1 160.23 195.83Z"
                        fill="#EFD5BF" />
                </g>
                <path
                    d="M160.23 195.83C160.23 195.83 149.64 203.76 149.02 235.47C144.06 230.32 140.66 227.05 140.66 227.05L131.71 232.28C131.71 232.28 137.6 198.73 144.53 194.02C154.72 195.14 160.23 195.83 160.23 195.83Z"
                    fill="#FFBC00" />
                <path
                    d="M81.1399 118.07V163.51C81.1399 163.51 133.77 169.76 145.19 166.56C156.61 163.36 151.27 147.81 151.27 140.49C151.27 133.17 151.12 115.33 149.29 111.06C147.46 106.79 138.77 108.62 128.1 109.54C117.43 110.45 81.1399 118.08 81.1399 118.08V118.07Z"
                    fill="#EEE6DE" />
                <path
                    d="M151.28 140.48C151.28 133.16 151.13 115.32 149.3 111.05C147.47 106.78 138.78 108.61 128.11 109.53C117.44 110.44 81.1499 118.07 81.1499 118.07V125.68C90.9199 123.67 116.27 119.76 124.76 119.03C135.43 118.12 142.96 116.99 144.79 121.26C146.62 125.53 147.22 141.61 147.22 148.93C147.22 152.96 148.83 159.48 148.38 165.07C155.5 160.02 151.28 147 151.28 140.48Z"
                    fill="#EFD5BF" />
                <g opacity="0.58">
                    <g style="mix-blend-mode:multiply">
                        <path d="M151.01 111.76L81.6598 121.77C81.6598 121.77 137.32 111.61 151.01 111.76Z"
                            fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M152.81 137.91L82.8497 140.59C82.8497 140.59 139.2 136.42 152.81 137.91Z"
                            fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M152.81 135.01L82.8798 139.51C82.8798 139.51 139.16 133.78 152.81 135.01Z"
                            fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M152.81 133.25L82.8798 137.75C82.8798 137.75 139.16 132.02 152.81 133.25Z"
                            fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M152.79 130.94L82.9098 136.15C82.9098 136.15 139.13 129.85 152.79 130.94Z"
                            fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M152.73 127.87L82.9797 134.57C82.9797 134.57 139.06 127.07 152.73 127.87Z"
                            fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M152.73 125.66L82.9797 132.34C82.9797 132.34 139.06 124.85 152.73 125.66Z"
                            fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M152.69 122.95L83.0098 130.33C83.0098 130.33 139.01 122.28 152.69 122.95Z"
                            fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M152.69 120.43L83.0098 127.81C83.0098 127.81 139.01 119.76 152.69 120.43Z"
                            fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M152.65 117.84L83.0498 125.98C83.0498 125.98 138.96 117.32 152.65 117.84Z"
                            fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M152.95 114.97L83.3497 123.11C83.3497 123.11 139.26 114.45 152.95 114.97Z"
                            fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M150.78 161.9L81.9298 158.22C81.9298 158.22 137.18 163.31 150.78 161.9Z"
                            fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M152.54 140.08L83.1298 142C83.1298 142 138.86 142.06 152.54 140.08Z" fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M152.52 142.41L83.1598 143.62C83.1598 143.62 138.97 144.77 152.52 142.41Z"
                            fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M152.46 145.51L83.2198 145.21C83.2198 145.21 138.89 147.58 152.46 145.51Z"
                            fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M152.46 147.73L83.2198 147.44C83.2198 147.44 138.89 149.8 152.46 147.73Z"
                            fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M152.43 150.47L83.2598 149.47C83.2598 149.47 138.85 152.4 152.43 150.47Z"
                            fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M152.43 153.01L83.2598 152.01C83.2598 152.01 138.85 154.94 152.43 153.01Z"
                            fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M152.4 155.62L83.3098 153.85C83.3098 153.85 138.81 157.41 152.4 155.62Z"
                            fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M152.7 158.48L83.6099 156.71C83.6099 156.71 139.11 160.27 152.7 158.48Z"
                            fill="#E8D3C1" />
                    </g>
                    <g style="mix-blend-mode:multiply">
                        <path d="M151.33 164.05L81.3298 160.81C81.3298 160.81 137.71 165.52 151.33 164.05Z"
                            fill="#E8D3C1" />
                    </g>
                </g>
                <path
                    d="M144.14 104.54C144.14 104.54 258.87 121.77 268.22 124.98C277.57 128.19 276.34 152.24 274.73 160.92C273.12 169.6 266.8 171.9 260.09 171.9C253.38 171.9 141.32 170.47 141.32 170.47C141.32 170.47 150.1 168.33 151.81 156.09C153.52 143.85 150.78 119.27 150.24 115.09C149.7 110.91 144.15 104.54 144.15 104.54H144.14Z"
                    fill="#FFBC00" />
                <path
                    d="M193.23 119.68C193.73 123.56 196.28 146.41 194.69 157.79C193.33 167.57 187.12 170.41 185.39 171.02C188.54 171.06 191.75 171.1 194.99 171.14C197.52 169.72 201.54 166.33 202.61 158.69C204.2 147.31 201.65 124.46 201.15 120.58C200.83 118.08 198.57 114.73 197.01 112.67C194.24 112.23 191.49 111.81 188.79 111.38C190.35 113.39 192.89 117.02 193.23 119.68Z"
                    fill="#FFD773" />
                <path
                    d="M206.98 121.6C207.48 125.39 210.03 147.65 208.44 158.74C207.28 166.85 202.61 170.06 200.18 171.2C203.29 171.24 206.4 171.28 209.48 171.31C211.99 169.72 215.4 166.36 216.36 159.6C217.95 148.51 215.4 126.25 214.9 122.46C214.58 120.05 212.38 116.85 210.82 114.83C208.07 114.39 205.31 113.95 202.55 113.52C204.11 115.49 206.63 119 206.97 121.59L206.98 121.6Z"
                    fill="#FFD773" />
                <path
                    d="M154.8 137.62C154.71 135.76 154.62 133.96 154.57 132.28C154.53 131.17 154.51 130.03 154.48 128.9C154.27 120.1 154.05 110.99 148.99 106.71C146.7 104.77 143.74 104.05 140.19 104.56C129.97 106.03 86.7999 113.61 77.4899 115.25V121.44C83.5699 120.37 130.6 112.1 141.06 110.59C143.43 110.25 144.47 110.87 145.06 111.36C148.03 113.87 148.22 121.93 148.39 129.04C148.42 130.19 148.44 131.35 148.48 132.48C148.54 134.19 148.69 137.17 148.71 137.91C148.76 139.48 149.53 161.53 145.86 163.82C141.79 165.67 108.08 163.93 77.4799 161.16V167.28C89.3799 168.35 116.78 170.64 134.13 170.64C141.26 170.64 146.7 170.25 148.66 169.24C156.13 165.36 155.46 151.26 154.8 137.62Z"
                    fill="#F7A500" />
                <g style="mix-blend-mode:multiply">
                    <path
                        d="M145.08 145.49C145.08 145.49 143.99 160.54 144.1 170.25C138.4 170.64 132.27 170.64 132.27 170.64C132.27 170.64 134.86 145.76 145.09 145.49H145.08Z"
                        fill="#EFD5BF" />
                </g>
                <path
                    d="M145.08 145.48C145.08 145.48 133.98 154.61 133.38 185.96C128.51 181.62 125.16 178.91 125.16 178.91L116.36 185.41C116.36 185.41 122.56 151.09 129.39 145.41C139.41 144.99 145.09 145.48 145.09 145.48H145.08Z"
                    fill="#3989B4" />
                <g style="mix-blend-mode:overlay" opacity="0.37">
                    <path
                        d="M155.96 109.68C155.96 109.68 259.94 126 263.7 126.68C267.45 127.35 268.11 131.1 268.89 133.94C269.67 136.78 266.64 135.61 260.37 135.02C254.1 134.43 167.29 123.4 162.59 122.74C157.89 122.08 157.2 120.36 156.42 117.79C155.64 115.22 154.51 111.4 154.66 110.62C154.81 109.84 155.17 109.55 155.97 109.68H155.96Z"
                        fill="white" />
                </g>
                <path
                    d="M162.64 170.45C162.47 170.45 162.3 170.37 162.2 170.21C162.04 169.97 162.1 169.63 162.35 169.47C163.26 168.86 166.78 163 167.05 156.68C167.31 150.53 167.31 136.57 167.05 124.91C166.79 113.57 163.1 109.43 163.06 109.39C162.86 109.17 162.87 108.84 163.09 108.64C163.3 108.44 163.64 108.45 163.84 108.67C164 108.85 167.85 113.09 168.12 124.89C168.39 136.57 168.39 150.56 168.12 156.73C167.85 163.03 164.31 169.45 162.95 170.36C162.86 170.42 162.76 170.45 162.65 170.45H162.64Z"
                    fill="#CC8200" />
                <path
                    d="M168.56 171.05C168.39 171.05 168.22 170.97 168.12 170.81C167.96 170.57 168.02 170.23 168.27 170.07C169.18 169.46 172.7 163.6 172.97 157.28C173.23 151.13 173.23 137.17 172.97 125.51C172.71 114.17 169.02 110.03 168.98 109.99C168.78 109.77 168.79 109.44 169.01 109.24C169.22 109.04 169.56 109.05 169.76 109.27C169.92 109.44 173.77 113.69 174.04 125.49C174.31 137.17 174.31 151.16 174.04 157.33C173.77 163.63 170.23 170.05 168.87 170.96C168.78 171.02 168.68 171.05 168.57 171.05H168.56Z"
                    fill="#CC8200" />
                <path
                    d="M207.38 41.21C207.38 41.21 218.6 50.76 219.17 82.04C224.11 77.92 227.5 75.35 227.5 75.35L236.4 82.19C236.4 82.19 230.17 47.72 223.27 41.78C213.13 40.96 207.37 41.21 207.37 41.21H207.38Z"
                    fill="#FFBC00" />
                <path
                    d="M178.4 195.15C178.4 195.15 206.95 213.78 222.84 263.51C219.34 271.6 224.4 282.01 235.52 277.74C243.22 275.82 285.94 264.47 315.59 302.97C359.5 285.29 409.6 268.66 409.6 268.66C409.6 268.66 411.45 263.53 411.14 263.3C409.78 262.33 403.87 265.88 400.89 264.53C383.83 256.83 345.64 241.48 322.27 246.62C313.15 248.56 308.3 247.16 308.3 242.15C308.3 237.14 292.8 194.92 280.93 184.03C251.54 184.32 205.1 193.32 186.83 193.6C186.18 193.6 181.9 189.41 180.71 189.61C179.93 189.74 178.41 195.16 178.41 195.16L178.4 195.15Z"
                    fill="#87510A" />
                <path
                    d="M180.7 189.6C180.7 189.6 211.83 211.85 227.72 261.58C224.22 269.67 227.67 276.92 238.79 272.65C246.49 270.73 288.75 262.69 317.8 297.99C361.71 280.31 411.15 263.3 411.15 263.3C411.15 263.3 357.24 235.29 326.44 242.07C317.32 244.01 312.47 242.61 312.47 237.6C312.47 232.59 296.97 190.37 285.1 179.48C248.31 179.85 180.72 189.61 180.72 189.61L180.7 189.6Z"
                    fill="#6D3E06" />
                <path
                    d="M286.07 171.9L196.11 177.88C192.65 188.83 232.25 242.1 232.25 242.1C232.25 242.1 234.32 249.27 239.74 260.13L317.74 237.56C309.4 202.37 286.09 171.9 286.09 171.9H286.07Z"
                    fill="#EADBCE" />
                <path
                    d="M317.79 237.8C317.77 237.72 317.75 237.64 317.73 237.56L239.73 260.13C239.87 260.41 240 260.68 240.15 260.97C282.29 253.1 320.78 281.98 320.78 281.98C320.78 281.98 340.13 275.76 413.73 247.65C394.88 238.39 333.72 233.97 317.79 237.79V237.8Z"
                    fill="#E5D1C3" />
                <path
                    d="M322.59 275.57H322.55C322.55 275.57 289.86 248.75 241.98 259.31C236.38 235.31 211.3 184.79 196.11 177.88C191.31 181.7 185.39 185.96 185.39 185.96C185.39 185.96 219.75 217.91 229.89 260.97C237.53 260.65 241.27 269.04 241.27 269.04C241.27 269.04 267.18 263.57 287.32 269.84C307.46 276.11 320.12 293.18 320.12 293.18L320.38 293.09L412.66 259.85L413.73 247.66L322.59 275.58V275.57Z"
                    fill="#D6B8A1" />
                <path
                    d="M322.55 275.58C322.55 275.58 289.86 248.75 241.98 259.31C236.38 235.31 211.3 184.79 196.11 177.88C191.31 181.7 185.39 185.96 185.39 185.96C185.39 185.96 219.75 217.91 229.89 260.97C237.53 260.65 241.27 269.04 241.27 269.04C241.27 269.04 267.18 263.57 287.32 269.84C307.46 276.11 320.12 293.18 320.12 293.18L320.38 293.09L322.59 275.57H322.55V275.58Z"
                    fill="#DBC2AD" />
                <path
                    d="M241.98 260.13C241.98 260.13 276.52 245.64 322.59 267.85C371.59 254.25 410 242.1 410 242.1C410 242.1 358.13 228.02 317.79 237.8C277.45 247.58 245.98 257.47 241.98 260.14V260.13Z"
                    fill="#EADBCE" />
                <path
                    d="M241.98 259.31C241.98 259.31 244.83 211.61 209.48 171.32C232.38 168.64 297.98 167.47 297.98 167.47C297.98 167.47 319.45 206.15 317.78 237.8C282.26 246.82 241.97 259.32 241.97 259.32L241.98 259.31Z"
                    fill="#EEE6DE" />
                <path
                    d="M324.38 236.42C324.38 236.42 262.75 252.91 249.52 257.93C236.29 262.95 237.18 294.42 237.18 294.42L231.49 286.24L226.16 291.27C226.16 291.27 228.45 265.14 241.17 256.14C253.89 247.13 312.55 236.38 324.38 236.42Z"
                    fill="#FFBC00" />
                <g style="mix-blend-mode:multiply">
                    <path
                        d="M306.65 229.04C297.95 229.04 289.81 229.72 282.88 230.91C283.37 224.61 282.65 217.2 280.57 209.53C275.36 190.35 263.58 176.85 254.25 179.38C244.92 181.91 241.59 199.52 246.8 218.7C250.41 231.98 257.16 242.52 264.07 246.92C270.93 251.65 287.41 254.99 306.66 254.99C332.07 254.99 352.66 249.18 352.66 242.01C352.66 234.84 332.06 229.03 306.66 229.03L306.65 229.04Z"
                        fill="#EEE6DE" />
                </g>
                <path
                    d="M352.22 164.5C369.56 188.26 364.36 221.57 340.6 238.91C316.84 256.25 283.53 251.05 266.19 227.29C248.85 203.53 254.05 170.22 277.81 152.88C301.57 135.54 334.88 140.74 352.22 164.5Z"
                    fill="#003E60" />
                <g style="mix-blend-mode:multiply">
                    <path
                        d="M315.49 226.89C315.46 226.81 315.41 226.72 315.35 226.62C315.33 226.62 315.32 226.61 315.3 226.6L315.49 226.89Z"
                        fill="#C4C4C3" />
                </g>
                <path
                    d="M265.96 167.67C266.39 167.29 266.83 167.22 267.28 166.88C268.29 166.1 268.72 165.08 269.49 164.08C269.93 163.5 271.27 161.65 272.13 162.2C272.1 162.47 271.68 163.22 271.93 163.48C272.24 163.81 272.81 163.26 273.07 163.22C273.1 163.77 272.95 164.52 273.15 165.03C274 165.14 274 164.17 274.09 163.59C274.19 162.91 274.31 162.37 274.67 161.76C274.97 161.25 275.24 160.94 275.39 160.37C275.56 159.77 275.53 159.19 275.83 158.66C276.43 157.62 277.24 156.85 277.99 155.95C278.38 155.47 278.92 155.13 279.33 154.69C279.79 154.19 280.14 153.62 280.58 153.11C281.22 152.38 282.47 150.81 283.6 150.98C283.19 151.67 282.15 152.08 281.79 152.8C281.54 153.29 281.77 153.37 281.28 153.74C280.9 154.03 280.25 154.2 280.34 154.8C280.62 154.79 280.9 154.74 281.04 154.99C281.59 154.95 282.02 154.17 282.42 154.62C282.92 155.18 281.94 155.63 282.04 156.07C282.17 156.67 283.04 155.57 283.16 155.31C283.4 154.81 283.4 154.19 283.74 153.73C284.15 153.18 284.86 152.78 285.34 152.29C285.77 151.85 286.13 151.6 286.71 151.33C287.33 151.04 288.01 150.79 288.59 150.43C288.97 150.2 289.38 149.7 289.85 149.76C289.86 149.77 289.91 149.87 289.92 149.88C290.2 149.65 290.59 149.44 290.87 149.24C291.13 149.05 291.47 148.69 291.7 148.55C292.48 148.07 293.63 147.68 294.53 147.29C295.07 147.05 295.35 146.52 295.87 146.45C296.1 146.42 296.19 146.55 296.5 146.42C296.76 146.31 296.94 146.04 297.13 145.91C297.53 145.65 300.12 145.28 299.78 144.68C299.48 144.16 296.68 144.67 296.15 144.7C295.22 144.75 294.28 144.86 293.35 145.02C287.92 146.71 282.66 149.32 277.81 152.86C275.5 154.54 273.38 156.38 271.42 158.34C269.54 160.35 267.8 162.46 266.15 164.69C265.7 165.3 265.23 165.88 264.79 166.47C264.26 167.27 263.76 168.08 263.28 168.9C263.06 169.38 262.89 169.89 262.79 170.44C263.46 169.84 264.2 169.3 264.89 168.73C265.27 168.41 265.58 167.98 265.96 167.65V167.67Z"
                    fill="#3989B4" />
                <path
                    d="M294.92 155.05C294.28 154.85 294.11 155.43 293.62 155.59C293.62 155.48 293.6 155.35 293.59 155.24C293.26 155.24 292.98 155.26 292.67 155.3C292.65 155.21 292.65 154.82 292.67 154.67C292.71 154.63 292.86 154.58 292.92 154.54C292.94 154.44 292.82 154.39 292.85 154.29C293.14 154.06 293.07 153.96 293.1 153.63C293.05 153.58 292.96 153.48 292.91 153.44C292.67 153.52 292.09 153.75 292 153.8C291.8 153.92 291.38 153.69 291.4 154.22C290.99 154.31 290.14 154.55 290.09 154.65C289.63 155.44 290.8 155.11 290.45 155.77C290.02 155.45 289.58 155.54 289.14 155.64C288.84 155.78 288.53 155.86 288.21 155.9C288.42 156.63 288.25 156.54 287.94 157.04C287.86 157.17 287.59 157.15 287.46 157.32C287.33 157.5 287.55 157.86 287.42 158.04C286.97 158.65 285.23 158.75 285.85 159.84C286.38 159.36 286.97 160.08 287.44 159.46C287.78 159.65 288.93 158.67 289.17 158.36C289.47 157.97 289.41 157.63 289.81 157.39C289.93 157.32 290.53 157.4 290.74 157.32C290.57 158.06 289.3 158.61 289.21 159.28C289.11 160.09 289.69 159.66 290 159.48C290.16 159.38 290.25 158.33 290.68 159.18C291.24 158.98 292.1 158.56 292.27 157.97C292.46 158.24 292.75 158.38 293.11 158.33C293.24 157.8 293.89 157.73 293.8 157.03C293.88 157.08 294.06 157.12 294.17 157.22C294.44 156.92 294.31 156.53 294.09 156.28C294.71 156.15 294.84 155.55 294.91 155.05H294.92Z"
                    fill="#3989B4" />
                <path
                    d="M315.17 226.45C315.14 226.37 315.09 226.28 315.03 226.18C315.01 226.18 315 226.17 314.98 226.16L315.17 226.44V226.45Z"
                    fill="url(#paint0_radial_5_8582)" />
                <path
                    d="M359.31 177.85C357.63 173.2 355.28 168.7 352.21 164.5C341.68 150.08 325.27 142.5 308.69 142.64C308.26 142.86 307.9 143.14 307.71 143.48C307.42 144.01 307.45 143.81 307.73 144.21C308.01 144.61 309.34 144.55 309.56 144.84C310.36 145.9 308.43 145.51 308.72 146.3C308.39 146.44 307.07 146.11 307.94 147.01C307.87 147.05 307.76 147.05 307.71 147.09C307.83 148.03 308.57 147.72 309.31 147.83C310.21 147.96 310.69 148.56 309.77 149.16C310.1 149.61 310.24 150.38 309.51 150.47C309.21 149.61 308.96 150.58 308.67 150.51C308.33 150.43 308.03 150.19 308.42 149.72C307.97 149.77 307.45 149.7 307.12 149.53C307.22 149.48 307.41 149.31 307.51 149.27C307.21 149.24 306.57 149.47 306.36 149.27C305.98 148.92 306.44 148.67 306.75 148.6C306.33 148.48 305.93 148.52 305.61 148.29C305.9 148.01 306.33 147.89 306.58 147.53C306.26 147.14 305.34 147.26 304.89 147.23C304.31 147.19 303.65 146.88 303.07 146.97C301.68 147.17 300.54 147.52 299.76 148.58C298.92 149.72 297.71 149.7 296.54 150.49C295.77 151.02 294.44 152.22 294.57 153.2C294.63 153.3 294.73 153.15 294.75 153.15C294.47 154.28 296.2 153.62 295.7 152.66C295.9 152.75 296.04 152.67 296.26 152.84C296.48 152.57 297.37 150.92 297.6 152.25C298.11 152.21 298.15 151.72 298.71 151.81C298.73 152.55 298.52 153.44 298.64 154.15C299.47 154.37 300.69 153.31 300.34 152.49C301.34 152.26 300.5 151.29 300.78 150.65C300.87 150.45 301.36 149.9 301.46 149.82C301.76 149.58 301.81 149.25 302.39 149.36C302.48 149.99 301.84 150.29 301.95 150.94C303.01 151.04 302.89 151.67 304.02 151.17C304.69 150.87 305.39 150.5 305.35 151.7C305.98 151.93 306.72 151.61 307.33 151.81C307.58 151.89 307.64 152.19 307.82 152.27C307.94 152.33 308.59 152.45 308.63 152.49C310.02 154.12 306.74 153.3 306.59 153.41C306.25 152.73 304.93 153.26 304.67 153.78C304.3 154.53 305.27 154.84 304.08 154.87C303.73 154.87 303.62 154.64 303.14 154.82C302.82 154.94 302.66 155.27 302.31 155.41C302.03 155.53 301.49 155.52 301.18 155.6C300.93 155.67 300.24 156.06 300.05 156.05C299.43 156.04 298.96 155.37 298.16 155.6C297.57 155.76 297.65 156.02 297.21 156.33C296.84 156.6 296.42 156.45 296.1 156.65C295.34 157.13 295.71 158.04 295.25 158.64C295.06 158.9 294.67 158.89 294.44 159.16C294.23 159.41 294.24 159.83 293.97 160.12C293.54 160.07 293.23 160.13 292.87 159.96C292.39 160.63 291.1 159.75 290.69 160.78C290.8 160.78 290.93 160.8 291.05 160.82C290.91 160.96 290.88 161.23 290.79 161.35C292.43 161.29 291.58 163.16 290.68 163.65C290.36 163.31 289.61 163.9 289.17 164.01C288.99 164.05 288.94 164.3 288.79 164.31C288.6 164.33 288.55 164.09 288.41 164.11C287.95 164.17 287.63 164.31 287.31 164C286.93 164.33 286.72 164.79 286.52 165.25C286.26 165.85 286.22 166.2 286.12 166.93C285.99 167.88 284.42 169.93 286.5 169.58C286.89 169.51 287.54 169.01 287.93 168.83C288.12 168.74 288.15 168.46 288.31 168.39C288.48 168.31 288.72 168.45 288.88 168.39C289.21 168.24 289.55 168.18 289.83 167.91C290.21 167.55 290.47 167.14 290.84 166.75C291.1 166.48 291.66 165.78 291.73 165.37C293.73 165.46 292.17 163.97 293.44 163.48C294.09 163.23 294.44 163.85 295.1 163.44C295.4 163.25 295.32 162.86 295.57 162.68C295.83 162.49 296.06 162.61 296.33 162.5C296.98 162.22 297 162.01 297.77 162.24C297.97 162.3 298.12 162.53 298.34 162.62C298.58 162.72 298.85 162.61 299.12 162.69C299.68 162.87 301.57 164.36 301.73 162.82C300.95 162.78 299.36 162.51 299.68 161.4C301.51 160.63 302.54 162 303.83 162.8C304.31 163.1 305.07 163.56 305.37 164.2C305.7 164.93 305.33 165.89 306.56 165.63C306.6 165.47 306.72 165.15 306.73 165C306.73 164.95 306.62 164.86 306.59 164.82C307.38 164.46 306.63 164.29 306.59 163.95C306.56 163.75 306.27 163.86 306.37 163.45C306.41 163.28 306.97 163.31 307.04 163.08C307.21 162.51 306.26 162.5 307.15 162.13C307.65 161.92 308.28 162.08 308.02 162.69C308.34 162.84 308.46 163.1 308.4 163.46C308.51 163.46 308.64 163.48 308.75 163.49C308.9 164.1 308.52 165.18 309.22 165.48C309.2 165.61 309.24 165.79 309.25 165.92C310.08 166.04 310.57 165.6 311.32 165.36C311.8 165.21 312.78 164.78 313.31 164.89C313.72 164.97 313.62 165.38 314.07 165.35C314.36 165.33 314.66 164.79 314.89 164.68C316.07 164.11 315.51 164.93 315.92 165.66C315.78 165.62 315.67 165.63 315.53 165.57C315.81 165.81 316.17 166 316.42 166.2C315.91 166.28 315.5 166.11 315 166.12C315.35 166.21 316.3 166.47 316.26 167.15C316.45 167.15 316.64 167.17 316.82 167.15C316.82 167.24 316.81 167.33 316.8 167.42C316.71 167.53 316.7 167.56 316.61 167.71C316.47 167.71 316.31 167.74 316.16 167.74C316.16 168.16 315.88 168.31 315.5 168.28C315.45 168.2 315.41 168.11 315.37 168.03C314.93 168.34 312.85 169.25 312.73 168.5C312.42 168.48 312.3 168.34 312.01 168.47C311.85 168.11 311.53 167.91 311.13 167.93C310.86 168.29 311.07 168.71 310.88 168.99C310.64 169.34 310.21 169.36 310.01 169.79C310.25 170.05 310.21 170.36 309.97 170.65C309.25 170.61 309.48 169.92 309.03 169.64C308.84 169.52 308.6 169.7 308.39 169.62C308.16 169.53 307.7 169.25 307.47 169.22C305.61 168.96 307.4 171.16 306.05 171.31C305.86 171.16 302.55 172.81 302.89 171.53C301.89 171.41 302.8 170.95 302.55 170.56C302.24 170.08 301.64 170.35 301.2 170.38C300.66 170.41 298.27 170.5 299.11 169.17C299 169.14 298.88 169.07 298.76 169.04C298.93 168.28 298.57 168.04 298.26 167.46C297.74 167.22 297.51 167.67 297.04 167.82C296.62 167.96 295.87 167.94 295.51 167.94C294.87 167.94 293.25 167.83 292.87 168.66C291.71 168.77 291.22 169.34 290.33 170C289.69 170.48 289.79 170.52 289.08 170.31C288.64 170.18 288.03 169.53 287.76 170.27C287.21 170.16 287.06 170.47 286.74 170.76C286.55 170.93 285.93 171.45 285.82 171.64C285.42 172.28 285.38 173.65 284.58 174C284.64 174.52 283.98 175.04 283.71 175.4C283.22 176.05 282.99 176.18 282.22 176.55C282.27 177.05 281.45 177.79 281.08 178.12C281.2 178.15 281.31 178.23 281.44 178.26C281.31 178.99 280.21 179.65 279.95 180.4C280.11 180.37 280.33 180.45 280.49 180.43C280.43 180.98 280.86 181.41 280.58 181.91C279.88 181.86 279.7 182.58 279.1 182.7C279.21 183.01 279.03 182.99 279.36 183.18C279.15 183.56 278.81 184.38 278.89 184.87C279.03 185.66 279.42 185.62 279.11 186.48C278.71 187.6 277.81 188.34 277.78 189.49C277.89 189.49 278.02 189.52 278.13 189.52C278.35 189.76 278.48 190.09 278.44 190.43C278.57 190.41 278.75 190.48 278.88 190.46C279.06 190.82 279.03 191.24 278.81 191.56C278.88 191.83 279.07 192.08 279.27 192.23C279.31 192.13 279.42 191.98 279.48 191.88C280.43 191.74 280.73 193.24 281.19 193.85C281.53 194.29 281.66 194.53 281.93 194.99C282.15 195.36 282.22 195.91 282.4 196.22C282.67 196.67 283.09 196.7 283.43 197.06C283.89 197.56 283.66 197.97 284.49 198.1C285.25 198.22 286.71 197.84 286.68 196.89C287.24 196.74 287.39 197.24 287.81 197.25C288.25 197.26 288.4 197.07 288.85 197.06C289.5 197.06 290.35 197.79 290.56 196.51C291.14 196.51 291.39 196 291.78 195.67C292.23 195.3 292.9 195.28 293.27 194.96C293.91 194.42 294.03 192.35 294.98 193.58C295.02 193.67 294.98 193.74 295.01 193.83C295.99 193.71 296.38 195.04 296.68 195.66C296.79 195.9 296.91 196.93 296.98 196.97C297.48 197.29 298.12 196.72 298.14 196.22C298.55 196.11 298.69 196.47 299.05 196.38C299.35 196.3 299.51 195.93 299.92 195.83C300.21 195.76 300.74 195.8 300.98 195.9C301.59 196.17 301.2 196.12 301.52 196.58C301.87 197.08 302.31 197.63 302.38 198.38C302.46 199.23 301.85 199.93 301.81 200.75C301.77 201.54 302.17 201.88 302.69 202.33C303.2 202.76 303.42 203.16 303.99 203.61C304.64 204.13 307.8 204.44 306.56 205.55C307.87 205.6 306.86 206.41 307.18 207.02C307.21 207.07 307.23 207.11 307.26 207.15C306.92 207.76 306.88 208.57 307.85 208.71C307.8 209.1 307.87 209.38 307.87 209.74C307.87 209.89 307.55 210 307.57 210.11C307.62 210.33 308.02 210.49 308.03 210.61C308.08 211.27 307.81 211.67 307.36 212.26C306.86 212.92 306.43 213.1 306.18 213.89C306.04 214.34 305.99 214.28 305.99 214.72C305.99 214.68 306.16 215.88 306.16 215.88C306.39 216.41 307.49 216.73 308.03 216.94C308.82 217.25 309.01 217.79 309.55 218.07C309.86 218.24 310.26 218.07 310.61 218.14C310.97 218.21 311.2 218.45 311.56 218.52C312.49 218.71 313.17 218.46 312.32 219.37C312.06 219.65 311.57 219.56 311.58 220.11C312.56 220.57 310.48 221.61 311.35 222.42C311.69 222.74 312.36 222.54 312.68 222.86C313.04 223.22 312.7 223.98 313.34 224.3C313.36 224.44 313.37 224.6 313.37 224.74C313.68 224.93 313.54 224.84 313.75 225.12C314.23 225.16 314.83 225.74 315.11 226.19C315.31 226.27 315.21 226.38 315.35 226.65C315.39 226.73 315.22 226.96 315.27 227.1C315.32 227.25 315.6 227.18 315.64 227.28C315.84 227.85 315.84 228.16 315.84 228.81C316.59 228.91 317.37 229.04 317.35 229.94C318.1 230.04 317.95 229.2 318.17 228.72C318.39 228.24 318.66 227.99 319.02 227.56C319.56 226.91 319.2 227.07 320.08 226.83C320.64 226.68 321.2 226.65 321.23 225.9C322.47 225.84 323.32 225.29 324.38 224.77C324.93 224.5 325.39 224.35 325.76 223.78C326.23 223.05 325.83 222.98 325.93 222.31C325.02 221.98 326.08 220.86 325.01 220.66C325.32 219.57 327.23 220.28 327.38 219.28C327.98 219.04 328.51 218.94 328.95 218.39C329.46 217.75 329.51 217.31 329.26 216.79C329.11 216.49 328.85 216.26 328.69 215.95C328.55 215.68 328.81 215.68 328.43 215.27C327.96 214.78 327.22 214.96 327.07 214.25C326.87 213.31 327.96 213.41 328.61 213.21C329.65 212.89 329.44 212.42 330.1 211.69C330.34 211.42 330.81 211.42 330.98 211.2C331.21 210.89 331.06 210.34 331.25 210C331.42 209.69 331.76 209.67 331.92 209.23C332.03 208.93 332.06 208.72 332.09 208.39C331.93 208.23 332.18 207.31 332.11 206.86C332.01 206.17 331.59 205.66 331.81 204.98C331.68 204.95 331.59 204.88 331.46 204.85C331.84 203.81 330.79 203.73 330.12 203.54C330.11 203.54 330.1 203.54 330.09 203.53C330.06 203.47 330.04 203.42 330.01 203.38C329.77 202.98 329.5 202.68 329.17 202.34C328.82 201.98 328.34 201.92 328.21 201.39C327.7 201.23 325.37 201.67 326.36 200.35C326.68 199.92 327.36 200.15 327.76 199.95C328.38 199.64 328.22 199.67 328.44 198.93C328.64 199.01 328.95 198.93 329.16 198.99C329.42 198.42 329.12 197.62 329.38 197.11C329.5 196.86 330.01 196.67 330.21 196.45C330.56 196.07 330.49 196.03 330.69 195.6C330.98 194.96 331.14 194.61 331.71 194.08C332.27 193.56 332.46 193.39 332.48 192.49C332.34 192.49 332.17 192.45 332.04 192.46C331.98 191.95 332.46 191.74 332.51 191.26C333.75 191.01 333.04 190.04 333.44 189.35C333.64 189.01 334.23 188.97 334.37 188.67C334.56 188.28 334.08 187.79 334.22 187.29C335.33 187.09 336.08 186.32 336.18 185.19C336.1 185.15 336.01 185.12 335.92 185.09C335.88 184.15 336.69 183.33 336.88 182.36C337.05 181.52 337.64 180.09 337.22 179.35C336.28 179.2 336.65 180.34 336.27 180.73C335.81 181.22 334.78 180.6 334.76 181.49C333.92 181.58 333.72 182.73 332.96 183C332.27 183.24 331 182.7 330.98 184.05C330.08 183.94 327.66 185.37 327.32 183.99C327.76 183.8 329.69 182.75 328.07 182.63C328.22 182.3 328.15 181.94 327.95 181.62C326.86 181.46 326.59 182.94 325.97 181.43C325.6 181.43 325.32 181.48 324.96 181.5C325.01 180.6 324.79 180.57 324.29 180.02C323.96 179.66 324.04 179.99 323.82 179.42C323.68 179.06 323.69 178.43 323.62 178.03C323.15 177.96 322.47 177.8 322.19 177.47C322 177.25 322.15 176.83 322.01 176.68C321.78 176.44 321.43 176.53 321.17 176.41C320.28 175.98 319.37 175.81 318.44 175.35C318.82 174.38 317.27 174.67 316.84 174.4C315.9 173.82 316.33 173.28 317.01 173C317.54 172.78 318.69 173.1 318.4 172.55C317.97 171.73 317.2 172.38 316.55 172.23C316.17 171.55 317.07 171.13 317.98 170.7C318.46 170.94 318.84 171.66 319.09 171.96C319.38 172.31 320.13 172.67 320.05 173.27C320.56 173.2 320.99 173.48 321.19 173.93C322.45 173.84 323.57 174.68 324.67 175.18C325.26 175.44 328 176.4 328 176.77C329.23 176.91 328.94 177.9 328.75 178.76C329.7 178.81 328.47 180.25 329.68 180.67C330.62 180.99 331.51 180.65 332.42 180.29C332.97 180.08 333.48 179.96 334.03 179.82C334.3 179.75 334.64 179.79 334.88 179.61C335.32 179.27 334.97 179.23 335.16 178.97C335.67 178.27 336.61 177.87 337.25 177.17C336.68 176.59 337.72 175.89 337.89 175.27C336.84 175.25 337.04 174.09 337.22 173.4C337.06 173.46 336.74 173.4 336.58 173.47C336.58 173.13 337.49 170.49 336.11 171.77C336.16 170.92 335.66 171.32 335.24 171.21C334.52 171.03 334.77 171.36 334.49 170.55C334.28 169.95 334.02 168.6 333.08 168.86C332.8 169.54 332.95 170.79 331.74 170.64C331.33 170.59 331.35 170.14 330.99 170.06C330.5 169.95 330.39 170.29 329.92 170.06C329.37 169.79 328.99 168.82 328.62 168.45C328.14 167.96 327.04 167.83 327.47 166.86C326.5 166.73 327.04 165.08 328.06 165.42C328.74 165.64 328.6 166.83 329.74 166.39C329.78 167.11 329.71 167.23 330.13 167.61C330.45 167.9 330.84 167.64 331.09 168.25C331.8 168.46 332.15 167.67 332.85 167.72C332.97 167.99 333.89 168.66 334.11 168.75C334.37 168.86 335.77 168.84 336.06 168.73C336.4 168.59 336.27 168.16 336.57 168.01C336.88 167.85 337.13 168.05 337.4 168C337.98 167.88 338.99 167.41 338.74 168.64C339.24 168.57 339.74 168.84 340.17 168.87C341.04 168.93 340.85 168.69 341.46 169.34C341.35 170.3 344.16 170.49 344.85 170.38C345.27 170.84 346.08 170.69 345.93 171.48C346.58 171.75 346.01 172.1 346.18 172.54C346.37 173.03 346.64 172.9 347.13 173.32C347.25 173.42 347.29 173.74 347.33 173.77C347.35 173.79 347.95 174.1 347.91 174.05C348.27 174.53 348.26 174.65 348.3 175.36C349.26 175.54 349.8 176.48 349.8 177.36C349.8 177.78 349.51 178.16 349.68 178.52C349.96 179.09 350.34 178.79 350.72 179.09C351.52 179.72 351.19 180.42 351.89 180.9V173.64C351.1 173.36 352.06 172.47 351.58 171.89C351.24 171.48 350.06 171.45 349.64 171.09C349.37 170.86 349.3 170.51 349.15 170.26C348.97 169.96 348.44 169.91 348.69 169.33C348.83 169.01 349.34 169.16 349.52 168.84C349.72 168.49 349.49 168.02 349.63 167.62C349.76 167.64 349.94 167.58 350.07 167.59C350.1 167.04 349.87 166.13 350.73 166.39C350.63 167.09 350.84 168.24 351.67 168.19C352.05 168.95 351.16 169.35 351.85 170C352.13 170.26 352.6 170.02 352.85 170.33C353.02 170.53 352.93 171.12 352.93 171.38C353.87 171.78 353.93 173.02 355.07 172.8C355 172.5 355.04 172.3 354.79 172.06C355.44 171.4 355.29 172.46 355.39 172.63C355.58 172.94 355.9 173.17 356.04 173.57C356.16 173.92 356.03 174.47 356.1 174.83C356.18 175.22 356.51 175.38 356.43 175.92C356.88 176.12 358.68 177.74 359.41 177.85H359.31ZM314.79 161.65C313.82 160.57 314.09 162.29 313.54 162.58C313.02 162.86 312.67 162.3 312.23 162.22C311.84 162.14 311.38 162.33 311 162.21C310.26 161.97 309.92 161.31 309.31 160.88C308.8 160.52 308.68 160.83 308.43 160.31C308.33 160.11 309.18 159.83 308.38 159.66C308.4 159.53 308.37 159.34 308.35 159.22C307.78 159.15 306.67 159.82 306.55 159.13C305.9 159.09 305.33 159.21 304.68 159.1C304.95 157.96 306.05 157.93 307.04 157.79C307.91 157.67 308.95 157.39 309.78 157.24C310.04 157.19 310.78 156.94 310.91 156.95C311.35 156.98 311.62 157.3 312.03 157.43C312.54 157.59 312.67 157.51 313.12 157.24C313.32 157.12 313.56 156.24 313.95 156.94L314.42 157.13C314.53 157.26 314.66 157.26 314.62 157.49C314.73 157.5 314.85 157.51 314.97 157.52C315 157.67 315.04 157.84 315.07 157.96C314.92 158.05 314.92 158.15 314.81 158.25C315.04 158.26 315.16 158.4 315.36 158.45C315.25 159.05 313.26 158.99 314.52 159.59C315.31 159.97 316.43 159.47 317.25 159.6C317.21 159.71 317.2 159.85 317.18 159.95C317.59 159.91 317.73 159.99 317.85 160.33C317.9 160.34 317.95 160.35 318.01 160.36C318.18 162.29 315.06 160.17 314.81 161.66L314.79 161.65ZM323.23 162.39C322.19 161.9 322.45 161.52 322.26 160.52C322.08 159.58 320.95 159.39 321.02 158.45C320.44 158.4 319.81 158.22 319.98 157.5C319.27 157.66 319.15 157.2 318.87 156.81C318.93 156.35 319.31 155.59 318.68 155.39C319 154.83 319.49 154.75 319.25 154.01C319.91 153.96 320.19 153.34 320.83 153.22C320.81 153.09 320.87 152.91 320.86 152.78C321.32 152.76 321.8 152.76 322.25 152.78C322.33 152.94 322.18 152.89 322.17 152.95L322.26 153.52C322.86 154.61 320.66 154.99 320.82 155.91C321.05 157.22 322.98 157.26 324.05 157.31C323.97 157.73 324.1 158.15 324.5 158.34C323.27 159.01 325.3 159.7 325.85 159.68C325.84 159.81 325.9 159.99 325.88 160.12C326.37 160.12 326.79 159.79 327.27 160.06C327.01 161.26 328.46 160.79 327.68 162.02C328.16 162.02 328.54 162.25 328.82 162.61C327.45 163.94 324.68 163.07 323.25 162.4L323.23 162.39Z"
                    fill="#3989B4" />
                <path
                    d="M332.81 221.34C333.45 221.56 333.9 221.44 334.36 220.96C334.54 220.77 334.58 220.42 334.73 220.27C334.93 220.08 335.34 220.1 335.5 219.9C335.68 219.67 335.5 219.26 335.68 219.06C335.92 218.8 336.31 218.94 336.56 218.71C337.1 218.23 336.8 217.79 336.91 217.1C337.1 215.98 338.28 215.89 339.27 215.35C339.7 215.11 340.36 214.88 340.05 214.34C339.77 213.84 339.1 214.28 338.55 214.14C338.66 213.28 338.88 213.17 337.79 213.01C337.72 212.42 338.12 212.01 338.71 211.97C338.59 211.72 338.7 211.48 338.64 211.24C339.59 211.22 339.39 209.98 339.48 209.43C339.54 209.08 339.73 208.82 339.77 208.39C339.8 208.02 339.62 207.63 339.65 207.37C339.72 206.7 340.28 203.83 338.94 203.46C338.79 203.21 338.61 203.1 338.45 202.91L337.88 203C338.68 204.03 338.25 204.09 337.78 204.99C337.47 205.59 337.83 206.55 337.43 207.09C337.2 207.4 336.64 207.47 336.36 207.73C336.12 207.96 335.83 208.47 335.68 208.77C335.53 209.05 335.46 209.59 335.31 209.81C335 210.25 334.54 210.28 334.19 210.61C333.41 211.33 333.69 211.86 333.88 212.67C334.02 213.27 334.06 214.07 333.91 214.82C333.83 215.19 333.63 215.59 333.53 215.95C333.53 215.98 333.28 216.57 333.26 216.44C333.29 216.64 333.62 216.88 333.63 216.96C333.67 217.7 333.45 218.4 333.25 219.16C333.08 219.79 333.21 220.81 332.82 221.34H332.81Z"
                    fill="#3989B4" />
                <path
                    d="M277.03 237.61C276.81 237.35 276.64 236.86 276.42 236.55C275.98 235.92 275.55 235.27 275.05 234.7C274.47 234.04 273.59 233.56 273.25 232.78C272.94 232.08 272.96 230.96 272.06 230.68C272.17 229.96 271.52 229.65 271.65 228.92C271.31 228.89 270.69 228.36 270.53 228.15C270.18 227.69 270.21 227.45 270.04 226.85C269.99 226.67 269.68 226.55 269.61 226.28C269.61 226.29 269.77 225.73 269.78 225.69C269.94 225.12 269.83 225.03 270.44 224.74C271 224.48 271.21 224.99 271.48 224.28C271.57 224.03 271.3 223.36 271.17 223.07C270.77 222.15 270.76 221.57 269.68 221.49C269.23 221.19 269.44 220.91 269.29 220.49C269.06 219.86 268.81 219.27 268.65 218.6C268.57 218.27 268.67 217.65 268.47 217.37C268.27 217.09 267.9 217.16 267.68 216.93C266.93 216.11 267.44 216.07 267.9 215.58C268.22 215.24 268.15 215.31 268.35 214.84C268.35 214.84 268.14 214.59 268.19 214.44C268.26 214.26 268.57 214.25 268.63 214.14C268.96 213.51 269.38 212.93 269.43 212.19C269.48 211.43 269.01 210.98 268.93 210.27C268.84 209.44 269.24 209.16 268.34 208.5C267.9 208.18 266.75 208.02 266.65 207.54C265.99 207.4 265.06 208.31 265.04 207.16C263.99 206.84 264.09 208.19 263.18 207.98C262.97 207.4 262.31 205.96 261.67 205.8C261.55 205.19 262.37 203.57 261.1 203.82C261.1 203.49 261.08 203.14 261.07 202.81C260.8 202.65 260.86 202.74 260.8 202.42C260.58 201.27 261.36 199.41 260.07 198.61C259.51 198.26 258.87 198.81 258.27 198.33C257.76 197.92 257.8 196.77 257.89 196.19C258.04 195.21 257.93 194.9 257.58 194C257.27 193.2 257.51 192.64 257.3 191.83C256.98 190.58 256.82 189.37 256.54 188.03C254.54 201.39 257.6 215.52 266.19 227.29C269.32 231.58 272.98 235.27 277.01 238.32C277.37 238.35 277.74 238.35 278.07 238.36C277.75 238.03 277.34 237.95 277.04 237.6L277.03 237.61Z"
                    fill="#3989B4" />
                <path
                    d="M341.44 235.59V235.46C341.29 235.9 341.2 236.18 340.89 236.53C340.52 236.94 340.55 236.89 340.37 237.42C340.27 237.71 340.23 237.76 340.11 237.98C340.11 237.98 339.76 238.46 339.8 238.43C339.56 238.61 339.21 238.65 338.98 238.88C338.62 239.24 338.69 239.4 338.16 239.64C337.81 239.8 337.4 240.06 337.02 240.12C336.02 240.27 336.14 238.99 335.27 239.13C335.14 239.41 334.78 239.41 334.51 239.55C334.24 239.1 333.88 239.3 333.5 239.38C333.1 240.1 332.54 240.74 331.72 240.93C331.1 241.07 331.2 240.84 330.65 240.76C330.51 240.74 330.08 240.82 329.95 240.9C329.69 241.08 329.78 241.25 329.57 241.39C329.23 241.63 328.86 241.65 328.5 241.88C328.12 242.12 327.85 242.48 327.41 242.64C326.85 242.85 326.33 242.81 325.78 243.05C325.37 243.23 324.66 243.28 324.33 243.53C324.13 243.39 323.9 243.27 323.65 243.3C323.67 243.4 323.61 243.56 323.63 243.66C323.3 243.66 323.14 243.94 322.88 244.11C322.73 244.21 322.58 244.16 322.42 244.28C322.26 244.41 322.21 244.48 322.13 244.66C322.53 244.74 322.36 244.89 322.3 245.16C322.3 245.13 321.91 245.74 321.92 245.73C321.5 246.03 320.49 245.97 320.28 245.44C320.03 245.69 319.55 245.75 319.4 246.05C319.05 245.96 318.78 245.74 318.4 245.68C317.79 245.58 317.66 245.89 317.21 246.05C316.49 246.3 315.76 245.82 315.07 245.99C315.01 245.42 314.46 245.5 314.55 246.05C314.26 246.05 313.97 246.01 313.72 246.18C313.44 246.07 313.06 245.98 312.79 246.2C312.15 245.56 310.32 246.99 309.76 247.45C309.64 247.55 309.64 247.8 309.51 247.91C309.4 248.01 309.19 248.05 309.07 248.16C308.85 248.35 308.68 248.55 308.45 248.72C308.31 248.83 308.1 249 307.91 249.14C319.23 249.42 330.72 246.11 340.58 238.92C340.67 238.85 340.76 238.78 340.85 238.71C340.88 238.42 340.88 238.13 340.97 237.86C341.04 237.63 341.85 237.06 341.11 237.03C341.49 236.76 341.25 236.62 341.31 236.35C341.37 236.09 341.56 235.87 341.42 235.59H341.44Z"
                    fill="#3989B4" />
                <path
                    d="M288.03 153.98C288.03 153.98 289.27 153.4 289.36 153.34C289.77 153.02 289.47 152.34 290.28 152.47C290.73 151.66 291.21 151.2 291.64 150.42C291.87 150.38 291.94 150.22 292.1 150.12L292.57 149.65C292.28 149.89 290.72 150.65 290.21 150.77C289.79 150.86 289.48 150.78 289.08 150.89C288.14 151.13 288.61 151.18 288.22 151.83C287.98 152.24 286.73 153.84 288.03 153.99V153.98Z"
                    fill="#3989B4" />
                <mask id="mask0_5_8582" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="255" y="142"
                    width="108" height="108">
                    <path
                        d="M352.22 164.5C369.56 188.26 364.36 221.57 340.6 238.91C316.84 256.25 283.53 251.05 266.19 227.29C248.85 203.53 254.05 170.22 277.81 152.88C301.57 135.54 334.88 140.74 352.22 164.5Z"
                        fill="white" />
                </mask>
                <g mask="url(#mask0_5_8582)">
                </g>
                <g style="mix-blend-mode:overlay" opacity="0.4">
                    <path
                        d="M290.36 146.09C282.3 150.25 276.2 156.78 273.57 165.15C267.37 184.88 282.73 207.28 307.88 215.19C330.61 222.34 353.56 215.19 362.34 199.18C363.09 187.22 359.82 174.94 352.2 164.5C337.75 144.7 312.21 137.81 290.35 146.09H290.36Z"
                        fill="#E9F8FF" />
                </g>
                <defs>
                    <radialGradient id="paint0_radial_5_8582" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(315.08 226.3) scale(0.120002 0.120004)">
                        <stop stop-color="white" />
                        <stop offset="0.21" stop-color="#E9E9F2" />
                        <stop offset="1" stop-color="#9997C6" />
                    </radialGradient>
                </defs>
            </svg>
        </div>
    </div>

    <app-filter-book></app-filter-book>
</div>

