<div class="flex flex-col">
    <app-nav></app-nav>
    <div class="flex flex-col">
        <div>
            <svg class="flex float-right" height="500" viewBox="0 0 780 613" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_3_8" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="780"
                    height="613">
                    <rect width="780" height="613" fill="#C4C4C4" />
                </mask>
                <g mask="url(#mask0_3_8)">
                    <path
                        d="M135.267 414.532C64.7841 508.827 71.3481 588.038 209.23 613H782V0H81.925C-116.756 169.823 321.544 165.322 135.267 414.532Z"
                        fill="#1B3764" />
                    <path
                        d="M1172.61 287C1172.61 416.882 1054.31 524.5 905.337 524.5C756.368 524.5 638.067 416.882 638.067 287C638.067 157.118 756.368 49.5 905.337 49.5C1054.31 49.5 1172.61 157.118 1172.61 287Z"
                        stroke="#F5F6F8" stroke-opacity="0.3" stroke-width="25" />
                </g>
            </svg>
            <div class="flex flex-row gap-20 justify-between">
                <div class="m-5 mt-28">
                    <div class="font-bold text-6xl">
                        READ AND ADD YOUR INSIGHT
                    </div>
                    <div class="font-semibold text-xl mt-5">
                        Find Your Favorite Book And Read It Here For Free
                    </div>
                </div>
                <div>
                    <svg class="absolute flex float-right mt-20 ml-20" width="400" height="400" viewBox="0 0 451 474" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M109.781 180.874C121.745 216.266 86.5396 247.442 52.2188 230.021C44.7936 226.25 38.9203 219.897 35.7523 212.196C21.1011 176.605 54.9651 143.976 89.2976 158.704C98.989 162.861 106.402 170.889 109.781 180.879V180.874Z"
                            fill="#8390C8" />
                        <g style="mix-blend-mode:multiply" opacity="0.2">
                            <path
                                d="M60.657 216.647C53.5539 213.039 47.944 206.967 44.9107 199.6C40.4486 188.767 40.6946 178.221 44.1553 169.332C34.546 179.667 30.5465 195.378 37.2865 211.745C40.3198 219.112 45.9297 225.184 53.0327 228.791C76.3271 240.614 100.037 229.026 107.755 209.21C96.8164 220.962 78.6108 225.758 60.6511 216.647H60.657Z"
                                fill="#606161" />
                        </g>
                        <g style="mix-blend-mode:soft-light">
                            <path
                                d="M77.3986 169.162C76.2216 172.763 84.4022 175.445 85.5792 171.838C86.7562 168.237 78.5757 165.555 77.3986 169.162Z"
                                fill="white" />
                            <path
                                d="M89.1805 188.568C86.0535 186.431 81.1932 193.54 84.3261 195.677C87.4531 197.814 92.3134 190.705 89.1805 188.568Z"
                                fill="white" />
                            <path
                                d="M67.0632 182.999C64.2934 182.888 64.1177 187.192 66.8934 187.303C69.6631 187.415 69.8388 183.11 67.0632 182.999Z"
                                fill="white" />
                            <path
                                d="M68.5154 198.886C65.7456 198.775 65.57 203.079 68.3456 203.19C71.1154 203.301 71.2911 198.997 68.5154 198.886Z"
                                fill="white" />
                            <path
                                d="M50.5089 176.716C47.458 179.111 50.1809 182.595 53.2377 180.2C56.2885 177.805 53.5656 174.321 50.5089 176.716Z"
                                fill="white" />
                            <path
                                d="M58.2971 192.989C58.2619 192.954 58.2268 192.913 58.1917 192.878C57.4363 192.064 56.1714 193.229 56.9268 194.049C56.962 194.084 56.9971 194.125 57.0322 194.16C57.7876 194.974 59.0525 193.809 58.2971 192.989Z"
                                fill="white" />
                            <path
                                d="M91.2944 179.579C91.2593 179.544 91.2242 179.503 91.189 179.468C90.4336 178.654 89.1688 179.82 89.9242 180.639C89.9593 180.674 89.9944 180.715 90.0296 180.751C90.785 181.565 92.0498 180.399 91.2944 179.579Z"
                                fill="white" />
                        </g>
                        <path
                            d="M145.8 161.795C142.644 155.506 124.573 157.726 100.57 166.24C101.32 166.972 102.04 167.739 102.725 168.53C120.521 162.609 133.386 160.946 135.002 164.167C137.573 169.291 113.224 188.252 79.1261 205.363C45.0279 222.473 14.0976 231.251 11.5269 226.121C9.95169 222.977 18.466 214.047 33.1406 203.67C32.8947 202.481 32.7073 201.304 32.5667 200.133C10.5021 214.65 -2.74952 228.276 0.482875 234.712C5.07967 243.876 41.3387 234.981 81.4743 214.849C121.604 194.711 150.409 170.96 145.812 161.795H145.8Z"
                            fill="#F8961D" />
                        <path d="M381.46 274.947L378.62 258.744L379.499 258.609L382.333 274.812L381.46 274.947Z"
                            fill="#28496E" />
                        <path d="M399.209 274.256L398.337 274.121L401.066 257.959L401.944 258.094L399.209 274.256Z"
                            fill="#28496E" />
                        <path
                            d="M444.047 193.879C444.217 213.034 418.018 244.315 402.003 259.271V259.283C401.926 259.359 401.833 259.429 401.757 259.505C401.44 259.751 400.925 259.985 400.24 260.184C400.217 260.196 400.205 260.196 400.181 260.196C400.193 260.196 400.193 260.184 400.193 260.184C399.742 260.325 399.239 260.442 398.665 260.547C397.71 260.741 396.598 260.899 395.362 261.016H395.327C394.935 261.057 394.531 261.092 394.103 261.121H394.08C393.652 261.145 393.225 261.174 392.78 261.197H392.756C392.317 261.221 391.86 261.227 391.398 261.238C390.929 261.25 390.455 261.262 389.963 261.262C387.738 261.262 385.642 261.145 383.844 260.946C381.935 260.735 380.354 260.424 379.3 260.05H379.288C378.907 259.921 378.615 259.786 378.369 259.634C378.357 259.622 378.345 259.622 378.333 259.611C378.187 259.482 378.041 259.347 377.906 259.206C374.773 256.302 371.318 252.806 367.793 248.9C365.492 246.359 363.155 243.659 360.842 240.837C357.768 237.095 354.77 233.148 351.965 229.16C343.199 216.629 336.418 203.494 336.342 193.879C336.242 182.22 341.372 170.884 349.722 162.036C357.704 153.621 368.601 147.455 380.77 145.382L380.793 145.358C383.733 144.866 386.731 144.615 389.793 144.615C392.61 144.615 395.391 144.837 398.12 145.276C398.155 145.276 398.19 145.276 398.243 145.288C398.758 145.364 399.262 145.469 399.783 145.587C400.31 145.68 400.814 145.797 401.312 145.915C401.885 146.032 402.448 146.172 402.975 146.307C403.601 146.477 404.245 146.646 404.884 146.84C411.214 148.661 417.105 151.583 422.305 155.307C423.944 156.478 425.514 157.732 427.007 159.072C427.791 159.74 428.547 160.454 429.285 161.186C429.308 161.202 429.328 161.216 429.343 161.227C438.314 170.181 443.948 181.863 444.047 193.879Z"
                            fill="#FEC543" />
                        <path
                            d="M398.073 191.607C398.073 223.129 394.548 258.767 390.197 258.767C385.846 258.767 382.321 223.129 382.321 191.607C382.321 160.086 390.197 144.615 390.197 144.615C390.197 144.615 398.073 160.086 398.073 191.607Z"
                            fill="white" />
                        <path
                            d="M383.844 260.946C381.935 260.729 380.36 260.424 379.306 260.05H379.294C378.913 259.54 378.521 259.002 378.111 258.463C336.347 204.156 343.31 159.904 380.781 146.348C375.698 148.837 332.161 169.701 382.151 257.204C382.825 258.375 383.258 259.681 383.85 260.94L383.844 260.946Z"
                            fill="white" />
                        <path
                            d="M396.34 260.946C398.249 260.729 399.824 260.424 400.878 260.05H400.89C401.271 259.54 401.663 259.002 402.073 258.463C443.836 204.156 436.874 159.904 399.408 146.348C404.491 148.837 448.029 169.701 398.038 257.204C397.365 258.375 396.931 259.681 396.34 260.94V260.946Z"
                            fill="white" />
                        <g style="mix-blend-mode:multiply" opacity="0.2">
                            <path
                                d="M444.047 193.879C444.217 213.034 418.018 244.315 402.003 259.271V259.283C401.926 259.359 401.833 259.429 401.757 259.505C401.44 259.751 400.925 259.985 400.24 260.184C400.217 260.196 400.205 260.196 400.181 260.196C400.193 260.196 400.193 260.184 400.193 260.184C399.742 260.325 399.239 260.442 398.665 260.547C397.71 260.741 396.598 260.899 395.362 261.016H395.327C394.935 261.057 394.531 261.092 394.103 261.121H394.08C393.652 261.145 393.225 261.174 392.78 261.197H392.756C392.317 261.221 391.86 261.227 391.398 261.238C390.929 261.25 390.455 261.262 389.963 261.262C387.738 261.262 385.642 261.145 383.844 260.946C381.935 260.735 380.354 260.424 379.3 260.05H379.288C378.907 259.921 378.615 259.786 378.369 259.634C378.357 259.622 378.345 259.622 378.333 259.611C378.187 259.482 378.041 259.347 377.906 259.206C374.773 256.302 371.318 252.806 367.793 248.9C409.088 235.9 429.484 211.833 427.001 159.067C427.786 159.734 428.541 160.449 429.279 161.181C429.302 161.196 429.322 161.21 429.337 161.222C438.308 170.175 443.942 181.857 444.041 193.873L444.047 193.879Z"
                                fill="#A6A9AB" />
                        </g>
                        <path
                            d="M402.126 258.943C402.126 259.054 402.085 259.166 401.997 259.271V259.283C401.921 259.359 401.833 259.429 401.757 259.505C401.435 259.751 400.925 259.985 400.234 260.184C400.217 260.196 400.205 260.196 400.187 260.196C399.742 260.337 399.239 260.454 398.665 260.553C397.716 260.747 396.598 260.905 395.368 261.022H395.339C394.999 261.051 394.648 261.086 394.291 261.104C394.232 261.115 394.173 261.121 394.115 261.121H394.086C393.851 261.139 393.629 261.151 393.395 261.156C393.19 261.174 392.985 261.186 392.786 261.192H392.768C392.323 261.221 391.866 261.227 391.409 261.238C390.935 261.25 390.461 261.256 389.975 261.256C388.85 261.256 387.755 261.227 386.725 261.174C386.426 261.156 386.122 261.139 385.835 261.121C385.144 261.074 384.488 261.022 383.855 260.946C381.947 260.723 380.365 260.425 379.306 260.044H379.294C378.913 259.915 378.615 259.775 378.374 259.628C378.363 259.616 378.357 259.616 378.345 259.611C378.14 259.482 377.994 259.341 377.906 259.206C377.859 259.124 377.83 259.031 377.83 258.937C377.83 258.761 377.929 258.597 378.111 258.439C378.187 258.375 378.275 258.311 378.38 258.246C379.077 257.825 380.406 257.444 382.151 257.169C383.124 257.011 384.224 256.882 385.431 256.8C385.723 256.77 386.01 256.747 386.315 256.735C387.469 256.659 388.692 256.624 389.969 256.624C391.245 256.624 392.581 256.659 393.769 256.735C394.068 256.753 394.361 256.782 394.654 256.8C395.514 256.876 396.322 256.958 397.066 257.069C399.163 257.356 400.773 257.76 401.558 258.246C401.599 258.264 401.628 258.281 401.657 258.299C401.956 258.504 402.126 258.715 402.126 258.931V258.943Z"
                            fill="#F8961D" />
                        <g style="mix-blend-mode:multiply" opacity="0.2">
                            <path
                                d="M401.563 258.252C401.241 258.457 400.796 258.638 400.234 258.802C400.217 258.814 400.205 258.814 400.187 258.814C399.742 258.955 399.239 259.072 398.665 259.171C397.716 259.365 396.598 259.523 395.368 259.64H395.339C394.999 259.669 394.648 259.704 394.29 259.722C394.232 259.733 394.173 259.739 394.115 259.739H394.086C393.851 259.757 393.629 259.769 393.395 259.775C393.19 259.792 392.985 259.804 392.786 259.81H392.768C392.323 259.839 391.866 259.845 391.409 259.856C390.935 259.868 390.461 259.874 389.975 259.874C388.85 259.874 387.755 259.845 386.725 259.792C386.426 259.774 386.122 259.757 385.835 259.739C385.144 259.693 384.488 259.64 383.855 259.564C381.946 259.341 380.365 259.043 379.306 258.662H379.294C378.913 258.533 378.626 258.393 378.38 258.246C379.077 257.825 380.406 257.444 382.151 257.169C383.123 257.011 384.224 256.882 385.431 256.8C385.723 256.77 386.01 256.747 386.315 256.735C387.468 256.659 388.692 256.624 389.969 256.624C391.245 256.624 392.581 256.659 393.769 256.735C394.068 256.753 394.361 256.782 394.654 256.8C395.514 256.876 396.322 256.958 397.066 257.069C399.162 257.356 400.773 257.76 401.558 258.246L401.563 258.252Z"
                                fill="#606161" />
                        </g>
                        <path
                            d="M387.955 274.566L387.07 274.66L385.829 261.121L385.431 256.811C385.723 256.782 386.01 256.759 386.315 256.747L386.725 261.18L387.955 274.572V274.566Z"
                            fill="#28496E" />
                        <path
                            d="M394.659 256.811L394.29 261.104L393.125 274.66L392.241 274.566L393.395 261.156L393.775 256.747C394.074 256.765 394.367 256.794 394.659 256.811Z"
                            fill="#28496E" />
                        <path
                            d="M399.941 273.208L399.912 273.319L399.795 273.823L399.291 275.983L396.797 286.776V286.805L396.276 289.059C392.434 290.061 388.499 290.031 384.47 289.106C384.4 289.089 384.342 289.077 384.277 289.059L381.191 275.96L380.676 273.793L380.541 273.214H399.941V273.208Z"
                            fill="#8E8E8E" />
                        <g style="mix-blend-mode:multiply" opacity="0.2">
                            <path
                                d="M399.941 273.208L399.912 273.319L399.795 273.823L399.291 275.983L396.797 286.776V286.805L396.276 289.059C392.434 290.061 388.499 290.031 384.47 289.106C394.004 286.061 395.479 274.666 395.479 274.666C395.462 274.273 395.579 273.776 395.801 273.214H399.941V273.208Z"
                                fill="#606161" />
                        </g>
                        <g style="mix-blend-mode:multiply" opacity="0.2">
                            <path
                                d="M399.795 273.823L399.291 275.983C393.289 275.181 387.205 275.175 381.191 275.954L380.676 273.787C383.024 273.477 385.39 273.284 387.767 273.208C389.331 273.155 390.9 273.155 392.452 273.208C394.905 273.29 397.359 273.495 399.795 273.823Z"
                                fill="#606161" />
                        </g>
                        <path
                            d="M400.433 275.216C393.599 274.191 386.643 274.191 379.809 275.216C379.686 274.49 379.563 273.764 379.44 273.038C386.514 271.978 393.717 271.978 400.79 273.038C400.673 273.764 400.55 274.49 400.433 275.216Z"
                            fill="#8E8E8E" />
                        <path
                            d="M421.315 100.409C421.315 100.409 425.906 100.766 429.812 104.713C433.706 108.666 431.328 122.491 431.328 122.491C431.328 122.491 443.087 100.843 446.161 90.8994C449.235 80.9563 438.935 70.533 438.935 70.533L425.555 93.2183L421.321 100.403L421.315 100.409Z"
                            fill="#D84459" />
                        <g style="mix-blend-mode:multiply" opacity="0.5">
                            <path
                                d="M421.315 100.409C421.315 100.409 425.906 100.766 429.812 104.713C433.706 108.666 431.328 122.491 431.328 122.491C431.328 122.491 436.142 107.079 433.835 102.031C432.172 98.389 428.822 95.1683 425.549 93.2183L421.315 100.403V100.409Z"
                                fill="#D0D3D4" />
                        </g>
                        <path
                            d="M400.07 56.0048C400.07 56.0048 385.466 57.1115 381.261 66.633C377.057 76.1545 371.716 100.198 371.716 100.198C371.716 100.198 378.995 88.2057 384.529 87.7841C390.063 87.3625 393.769 90.1089 393.769 90.1089L400.07 56.0106V56.0048Z"
                            fill="#D84459" />
                        <g style="mix-blend-mode:multiply" opacity="0.5">
                            <path
                                d="M393.769 90.1089C393.769 90.1089 390.069 87.3684 384.529 87.7841C378.995 88.2057 371.716 100.204 371.716 100.204C371.716 100.204 378.199 85.4125 383.247 83.1171C386.889 81.454 391.532 81.2315 395.28 81.9049L393.764 90.1089H393.769Z"
                                fill="#D0D3D4" />
                        </g>
                        <path
                            d="M392.885 78.0108C392.235 82.0045 391.778 85.5823 391.462 88.5571C391.287 90.2026 391.158 91.6607 391.058 92.8962C390.818 95.871 390.76 97.5809 390.76 97.5809L418.68 108.022C418.68 108.022 419.769 106.687 421.567 104.256C427.212 96.5854 439.773 78.0401 446.513 56.5376C448.58 49.9557 450.102 43.0869 450.705 36.1712C450.705 36.1595 450.705 36.1536 450.705 36.1536C450.916 33.8289 451.016 31.4924 450.998 29.1618C450.922 19.1543 448.679 9.19944 443.169 0C432.968 3.32609 424.747 9.36926 418.124 16.8705C402.512 34.5492 395.772 60.3673 392.885 78.0108Z"
                            fill="#F2F2F2" />
                        <g style="mix-blend-mode:multiply" opacity="0.5">
                            <path
                                d="M391.462 88.5571C391.287 90.2026 391.158 91.6607 391.058 92.8962C390.818 95.871 390.76 97.5809 390.76 97.5809L418.68 108.022C418.68 108.022 419.769 106.687 421.567 104.256C427.212 96.5854 439.773 78.0401 446.513 56.5376C441.564 69.7366 425.18 90.0737 391.462 88.5571Z"
                                fill="#D0D3D4" />
                        </g>
                        <path
                            d="M411.682 38.982C408.456 47.6076 412.484 57.0822 420.671 60.1507C428.863 63.2133 438.121 58.7043 441.342 50.0787C444.568 41.4531 440.54 31.9785 432.353 28.91C424.161 25.8475 414.903 30.3564 411.682 38.982Z"
                            fill="#00A6B0" />
                        <path
                            d="M415.055 40.241C414.44 41.8806 414.165 43.5671 414.194 45.2067C414.265 48.7611 415.764 52.1048 418.334 54.3886C419.389 55.3196 420.618 56.075 422 56.5962C428.324 58.9619 435.48 55.4836 437.969 48.8138C439.011 46.0323 439.076 43.1279 438.332 40.522C437.389 37.2252 435.164 34.3969 431.996 32.8803C431.68 32.728 431.352 32.5933 431.024 32.4645C424.7 30.0987 417.544 33.5771 415.055 40.241Z"
                            fill="#A8DDE0" />
                        <path opacity="0.4"
                            d="M414.2 45.2067C414.271 48.7611 415.77 52.1048 418.34 54.3886L438.338 40.5221C437.395 37.2252 435.17 34.3969 432.002 32.8803L414.2 45.2067Z"
                            fill="white" />
                        <path
                            d="M391.052 92.8962C390.812 95.871 390.76 97.5809 390.76 97.5809L418.68 108.022C418.68 108.022 419.775 106.687 421.567 104.256C419.096 102.406 413.861 98.8633 407.214 96.3746C400.457 93.8449 394.091 93.1012 391.058 92.8962H391.052Z"
                            fill="#00A6B0" />
                        <path
                            d="M390.76 97.5867C390.76 97.5867 396.287 101.861 403.994 104.742C411.706 107.624 418.68 108.028 418.68 108.028C418.68 108.028 413.152 103.753 405.446 100.872C397.734 97.9908 390.76 97.5867 390.76 97.5867Z"
                            fill="#00A6B0" />
                        <g style="mix-blend-mode:multiply" opacity="0.5">
                            <path
                                d="M390.76 97.5867C390.76 97.5867 396.287 101.861 403.994 104.742C411.706 107.624 418.68 108.028 418.68 108.028C418.68 108.028 413.152 103.753 405.446 100.872C397.734 97.9908 390.76 97.5867 390.76 97.5867Z"
                                fill="#D0D3D4" />
                        </g>
                        <path
                            d="M418.124 16.8705C436.792 16.9115 450.992 29.1618 450.992 29.1618C450.916 19.1543 448.679 9.19944 443.163 0C432.962 3.32609 424.741 9.36341 418.124 16.8705Z"
                            fill="#D84459" />
                        <g style="mix-blend-mode:soft-light">
                            <path
                                d="M422.035 19.7164C420.197 21.8479 419.172 23.1772 419.172 23.1772L414.821 22.8024C415.805 21.5317 416.847 20.3196 417.924 19.166C419.295 19.3534 420.665 19.5408 422.035 19.7223V19.7164Z"
                                fill="#E6E6E7" />
                            <path
                                d="M420.888 16.1737C429.191 8.3445 438.162 3.82382 438.162 3.82382C432.675 8.36206 428.043 13.0584 424.717 16.689C423.441 16.5133 422.164 16.3435 420.882 16.1678L420.888 16.1737Z"
                                fill="#E6E6E7" />
                        </g>
                        <path
                            d="M405.44 86.2499C410.558 72.5708 416.853 62.2822 419.511 63.2777C422.164 64.2673 420.167 76.1662 415.049 89.8454C409.931 103.524 400.978 112.818 400.978 112.818C400.978 112.818 400.322 99.929 405.44 86.2499Z"
                            fill="#D84459" />
                        <path
                            d="M58.6016 68.0326C60.4462 73.9703 57.1025 80.2887 51.1413 82.145C45.1743 84.0013 38.8441 80.6986 37.0054 74.7609L58.6074 68.0326H58.6016Z"
                            fill="#293959" />
                        <g style="mix-blend-mode:soft-light">
                            <path
                                d="M57.6529 72.2663L53.9169 74.1226C53.9169 74.1226 54.7836 78.3446 51.721 80.804C51.721 80.804 56.9034 78.7018 57.6588 72.2663H57.6529Z"
                                fill="white" />
                        </g>
                        <path
                            d="M8.76881 41.3653C3.94364 25.824 13.2075 9.24629 29.3402 5.29363C43.2008 1.89728 57.6764 9.49808 62.6713 22.7907C66.6826 33.4483 63.8601 44.8261 56.5872 52.4386C54.8656 54.2422 54.1805 56.7894 54.9183 59.161L57.1493 66.3519L37.5149 72.4712L35.3424 65.4853C34.5753 63.0083 32.4848 61.2047 29.9375 60.6601C20.2286 58.5872 11.9017 51.5016 8.7571 41.377L8.76881 41.3653Z"
                            fill="#FEC543" />
                        <g style="mix-blend-mode:multiply" opacity="0.2">
                            <path
                                d="M16.9259 42.9405C13.3363 31.387 20.2286 19.0664 32.2154 16.1268C42.5157 13.603 53.2787 19.2538 56.9912 29.1325C59.9718 37.0554 57.8754 45.5112 52.4706 51.1679C51.1881 52.5088 50.6845 54.4003 51.2291 56.1629L52.8863 61.5092L38.2937 66.0533L36.6833 60.8592C36.1095 59.0146 34.5577 57.6795 32.6663 57.2755C25.4461 55.7354 19.2624 50.4652 16.9259 42.9405Z"
                                fill="#BBBEBF" />
                        </g>
                        <g style="mix-blend-mode:soft-light">
                            <path
                                d="M57.2079 19.7691L49.8589 22.0588C49.8589 22.0588 41.977 8.92422 29.8555 8.13369C29.8555 8.13369 48.6819 3.02745 57.2079 19.7691Z"
                                fill="white" />
                        </g>
                        <g style="mix-blend-mode:soft-light">
                            <path
                                d="M58.4318 23.7218L52.33 25.6249C52.33 25.6249 58.4552 36.8154 55.9958 41.8338C55.9958 41.8338 63.1574 35.2636 58.4318 23.7277V23.7218Z"
                                fill="white" />
                        </g>
                        <g style="mix-blend-mode:multiply" opacity="0.15">
                            <path
                                d="M25.8911 41.3477C28.1339 42.9288 31.9343 42.677 35.0613 42.0797C35.1609 42.3725 35.2546 42.6711 35.3482 42.9815C38.6041 54.0021 42.1117 64.765 42.1468 64.8763L44.009 64.2673C43.9738 64.1619 40.4721 53.4224 37.2279 42.4252C37.1518 42.1617 37.0698 41.904 36.9879 41.6522C37.0054 41.6522 37.0289 41.6405 37.0464 41.6346L37.0581 41.6756C37.2748 41.6171 37.8311 41.4648 38.5923 41.213C39.3595 40.9847 39.9099 40.7973 40.1149 40.7211L40.1031 40.686C40.1031 40.686 40.1383 40.6743 40.1617 40.6626C40.2378 40.9144 40.3139 41.172 40.4018 41.4356C43.9562 52.339 47.1535 63.1664 47.1828 63.2777L49.0625 62.7214C49.0332 62.6101 45.8243 51.7535 42.2639 40.8266C42.1644 40.5221 42.0707 40.2176 41.9887 39.9189C44.899 38.6365 48.1783 36.6807 49.1269 34.11C49.6539 32.6753 49.4138 31.1762 48.4359 29.765C47.0832 27.815 44.8405 27.165 42.8554 28.1546C40.3315 29.4078 38.5748 33.0911 39.6932 38.7477C39.0959 38.9761 38.5279 39.1811 38.0185 39.3509C37.4973 39.5031 36.9176 39.6612 36.2969 39.8076C34.019 34.514 30.4821 32.4762 27.6947 32.8803C25.5047 33.1965 24.0231 35.0059 24.0114 37.3833C24.0056 39.0991 24.6556 40.4694 25.9029 41.3536L25.8911 41.3477ZM41.532 37.9748C40.759 33.5771 41.9829 30.7605 43.7162 29.8997C43.8391 29.8411 43.9621 29.7884 44.0851 29.7533C45.0864 29.4429 46.1053 29.8528 46.8197 30.8834C47.4404 31.7735 47.5927 32.6109 47.2823 33.4424C46.6206 35.2284 44.0792 36.8095 41.532 37.9689V37.9748ZM25.9556 37.3833C25.9614 36.1302 26.5704 35.2109 27.5717 34.8946C27.6947 34.8536 27.8236 34.8244 27.9582 34.8068C29.8731 34.5316 32.4731 36.1536 34.3235 40.2176C31.5654 40.7094 28.579 40.85 27.0213 39.7549C26.2952 39.2455 25.9438 38.4667 25.9497 37.3833H25.9556Z"
                                fill="#1D2738" />
                        </g>
                        <path
                            d="M36.373 71.3645C42.5977 67.3591 49.812 65.1398 57.2079 64.9524C58.7948 64.9114 60.0187 66.0709 59.9367 67.406C59.8547 68.747 58.6719 69.7659 57.3133 69.8069C50.8134 69.9708 44.4774 71.9208 39.0023 75.4401C37.8545 76.178 36.3086 75.9906 35.4888 74.9307C34.669 73.8708 35.032 72.2253 36.373 71.3645Z"
                            fill="#293959" />
                        <g style="mix-blend-mode:soft-light">
                            <path
                                d="M56.8449 68.6357C56.8449 68.6357 57.7291 68.706 57.9282 68.0033C58.0219 67.6636 57.934 67.2596 57.407 67.0078C56.1363 66.3988 45.1157 68.3195 41.3914 71.5343C41.3914 71.5343 51.0652 68.1848 56.8449 68.6357Z"
                                fill="white" />
                        </g>
                        <path
                            d="M35.1199 67.283C41.3446 63.2777 48.5589 61.0583 55.9548 60.8709C57.5417 60.8299 58.7655 61.9894 58.6836 63.3245C58.6016 64.6655 57.4187 65.6844 56.0602 65.7254C49.5602 65.8893 43.2243 67.8393 37.7491 71.3586C36.6014 72.0965 35.0555 71.9091 34.2356 70.8492C33.4158 69.7893 33.7789 68.1438 35.1199 67.283Z"
                            fill="#293959" />
                        <g style="mix-blend-mode:soft-light">
                            <path
                                d="M55.5917 64.5484C55.5917 64.5484 56.4759 64.6186 56.675 63.9159C56.7687 63.5763 56.6809 63.1723 56.1539 62.9205C54.8832 62.3114 43.8626 64.2322 40.1383 67.447C40.1383 67.447 49.812 64.0975 55.5917 64.5484Z"
                                fill="white" />
                        </g>
                        <path
                            d="M33.8082 63.2074C40.0329 59.202 47.2472 56.9827 54.6431 56.7953C56.23 56.7543 57.4539 57.9138 57.3719 59.2489C57.2899 60.5899 56.107 61.6088 54.7485 61.6498C48.2485 61.8137 41.9126 63.7637 36.4374 67.283C35.2897 68.0208 33.7438 67.8335 32.924 66.7736C32.1041 65.7137 32.4672 64.0682 33.8082 63.2074Z"
                            fill="#293959" />
                        <g style="mix-blend-mode:soft-light">
                            <path
                                d="M54.3386 60.4669C54.3386 60.4669 55.2228 60.5372 55.4219 59.8345C55.5156 59.4948 55.4277 59.0908 54.9007 58.839C53.63 58.23 42.6094 60.1507 38.8851 63.3655C38.8851 63.3655 48.5589 60.016 54.3386 60.4669Z"
                                fill="white" />
                        </g>
                        <path
                            d="M233.379 363.235L323.898 303.523C311.835 297.521 278.592 311.294 233.145 320.54C187.698 311.294 154.871 299.535 139.751 302.938L233.005 363.235V363.428L233.198 363.334L233.391 363.428V363.235H233.379Z"
                            fill="#404D64" />
                        <path
                            d="M233.379 363.235L323.898 303.523C311.835 297.521 278.592 311.294 233.145 320.54C187.698 311.294 154.871 299.535 139.751 302.938L233.005 363.235V363.428L233.198 363.334L233.391 363.428V363.235H233.379Z"
                            fill="#293959" />
                        <g style="mix-blend-mode:multiply" opacity="0.2">
                            <path
                                d="M233.379 363.235L323.898 303.523C311.835 297.521 278.592 311.294 233.145 320.54C187.698 311.294 154.871 299.535 139.751 302.938L233.005 363.235V363.428L233.198 363.334L233.391 363.428V363.235H233.379Z"
                                fill="#606161" />
                        </g>
                        <path
                            d="M280.161 220.529C279.622 222.11 279.125 223.791 278.668 225.524C278.041 227.96 277.514 230.537 277.11 233.254C277.11 233.283 277.087 233.324 277.087 233.388C276.993 234.079 276.911 234.764 276.812 235.479C276.636 236.767 276.525 238.079 276.437 239.431C276.355 240.696 276.279 241.967 276.255 243.273C276.25 243.654 276.507 256.94 276.818 272.745C276.952 279.45 277.087 286.612 277.222 293.428C277.567 310.65 277.866 309.519 277.866 309.519C243.123 328.82 214.389 327.871 183.833 309.519C183.833 309.519 184.132 310.609 184.478 293.363C184.612 286.594 184.747 279.503 184.882 272.85C185.192 257.011 185.45 243.665 185.444 243.279C185.42 241.973 185.344 240.702 185.262 239.437C185.169 238.085 185.063 236.773 184.888 235.485C184.788 234.77 184.706 234.085 184.612 233.394C184.612 233.33 184.589 233.289 184.589 233.259C184.185 230.542 183.658 227.966 183.031 225.53C182.58 223.797 182.077 222.116 181.538 220.535C176.965 206.803 180.092 208.513 180.092 208.513C180.092 208.513 189.947 191.789 211.209 184.569C235.253 173.747 220.848 180.833 230.861 179.884C241.086 180.926 239.873 179.767 249.09 183.942C270.353 191.162 281.625 208.513 281.625 208.513C281.625 208.513 284.746 206.803 280.179 220.535L280.161 220.529Z"
                            fill="#D84459" />
                        <path
                            d="M206.396 346.569C206.396 346.569 164.076 344.929 155.814 346.493C147.551 348.056 140.495 351.23 139.979 364.119C139.429 377.874 148.576 377.804 155.814 378.301C163.051 378.793 199.55 372.346 201.934 371.234C204.311 370.121 206.39 346.569 206.39 346.569H206.396Z"
                            fill="white" />
                        <path
                            d="M215.15 364.646C215.15 364.646 204.867 372.645 195.844 374.8C186.709 376.99 178.446 377.622 160.24 378.354C160.24 378.354 158.999 370.478 163.59 369.617C168.181 368.757 206.929 359.68 215.15 364.64V364.646Z"
                            fill="#00A6B0" />
                        <path
                            d="M211.039 364.435C211.039 364.435 199.75 371.778 186.158 371.772C180.097 371.772 179.196 351.939 183.57 350.709C187.944 349.479 208.756 346.481 208.756 346.481L211.039 364.435Z"
                            fill="#EFB4AB" />
                        <path
                            d="M198.45 359.13C198.842 360.435 198.643 362.356 197.964 364.423C196.933 367.662 194.743 371.263 191.932 373.412C191.932 373.412 170.664 372.129 165.288 374.864C160.258 377.435 162.015 378.255 160.58 378.337C160.481 378.354 160.381 378.354 160.252 378.354C160.252 378.354 159.175 378.29 157.564 378.29C156.926 378.29 156.311 378.237 155.726 378.126C144.207 376.059 141.947 354.146 151.738 350.539C152.423 350.282 156.668 349.362 158.876 349.075C171.08 347.588 198.051 347.184 203.696 347.219C201.559 347.283 196.705 348.291 189.35 351.435C189.35 351.435 196.986 354.176 198.45 359.124V359.13Z"
                            fill="#F8961D" />
                        <g style="mix-blend-mode:soft-light">
                            <path
                                d="M164.164 365.624C164.404 371.848 160.527 375.725 155.726 378.132C144.207 376.065 141.947 354.152 151.738 350.545C157.19 352.325 163.807 356.389 164.164 365.624Z"
                                fill="white" />
                        </g>
                        <path
                            d="M206.396 346.569C206.396 346.569 292.16 306.48 308.152 303.066C325.462 297.679 350.706 314.731 331.282 333.153C309.961 353.619 211.555 367.199 211.555 367.199C210.079 367.89 204.387 355.552 206.396 346.569Z"
                            fill="#293959" />
                        <path
                            d="M255.292 346.551C255.292 346.551 297.611 344.912 305.874 346.475C314.136 348.039 321.193 351.213 321.708 364.101C322.258 377.856 313.112 377.786 305.874 378.284C298.636 378.776 262.137 372.329 259.754 371.216C257.376 370.103 255.298 346.551 255.298 346.551H255.292Z"
                            fill="white" />
                        <path
                            d="M246.531 364.628C246.531 364.628 256.814 372.627 265.838 374.782C274.973 376.972 283.235 377.605 301.441 378.337C301.441 378.337 302.683 370.461 298.092 369.6C293.501 368.739 254.753 359.663 246.531 364.622V364.628Z"
                            fill="#00A6B0" />
                        <path
                            d="M250.648 364.423C250.648 364.423 261.938 371.766 275.529 371.761C281.59 371.761 282.492 351.927 278.118 350.697C273.743 349.468 252.932 346.469 252.932 346.469L250.648 364.423Z"
                            fill="#F4B8AD" />
                        <path
                            d="M263.232 359.112C262.84 360.418 263.039 362.339 263.718 364.406C264.749 367.644 266.939 371.245 269.75 373.394C269.75 373.394 291.018 372.112 296.393 374.847C301.424 377.417 299.667 378.237 301.102 378.319C301.201 378.337 301.301 378.337 301.429 378.337C301.429 378.337 302.507 378.272 304.117 378.272C304.756 378.272 305.37 378.22 305.956 378.108C317.474 376.041 319.735 354.129 309.944 350.522C309.259 350.264 305.013 349.345 302.806 349.058C290.602 347.57 263.63 347.166 257.985 347.201C260.123 347.266 264.977 348.273 272.332 351.418C272.332 351.418 264.696 354.158 263.232 359.106V359.112Z"
                            fill="#F8961D" />
                        <g style="mix-blend-mode:soft-light">
                            <path
                                d="M297.524 365.606C297.284 371.831 301.16 375.707 305.962 378.114C317.48 376.047 319.74 354.135 309.95 350.527C304.498 352.308 297.881 356.372 297.524 365.606Z"
                                fill="white" />
                        </g>
                        <path
                            d="M255.292 346.569C255.292 346.569 169.528 306.48 153.536 303.066C136.226 297.679 110.982 314.731 130.405 333.153C151.726 353.619 250.133 367.199 250.133 367.199C251.608 367.89 257.3 355.552 255.292 346.569Z"
                            fill="#28496E" />
                        <path
                            d="M249.658 184.229C249.658 184.229 253.172 210.943 230.867 210.996C208.568 211.054 212.011 184.773 212.011 184.773C212.011 184.773 215.103 183.889 216.005 177.378C216.234 175.82 216.263 174.022 216.017 171.961H245.331C245.331 171.961 245.302 172.201 245.267 172.617C245.255 172.845 245.237 173.138 245.231 173.484C245.126 176.294 245.911 180.399 249.664 184.229H249.658Z"
                            fill="#F4B8AD" />
                        <path opacity="0.5"
                            d="M245.735 172.658C245.735 172.658 245.553 172.962 245.231 173.484C243.352 176.476 236.518 186.612 230.03 186.8C222.411 187.046 216.017 177.384 216.017 177.384L216.005 177.372C216.234 175.814 216.263 174.016 216.017 171.955H237.935L245.267 172.611L245.729 172.646L245.735 172.658Z"
                            fill="#E17F88" />
                        <path
                            d="M191.592 218.79C191.592 218.79 188.102 231.819 184.079 246.166C182.288 252.595 180.379 259.294 178.651 265.203C176.157 273.641 174.007 280.469 172.971 282.6L155.199 284.047C155.199 284.047 155.169 284.029 155.169 284.012C153.149 281.728 151.867 278.683 151.65 275.035C151.539 273.372 151.662 271.586 152.037 269.694C152.183 268.933 152.523 267.61 152.997 265.865C153.881 262.609 155.257 257.895 156.809 252.66C161.4 237.224 167.578 217.349 167.578 217.349C178.569 206.499 191.598 218.796 191.598 218.796L191.592 218.79Z"
                            fill="#F4B8AD" />
                        <path
                            d="M212.457 184.563C212.457 184.563 192.576 223.346 192.213 238.705C192.178 240.199 191.745 242.681 191.095 245.656C191.03 245.949 190.96 246.253 190.89 246.558C188.664 246.915 186.445 247.144 184.249 247.226C182.229 247.308 180.232 247.267 178.235 247.114C170.107 246.511 162.231 244.075 154.543 240.245C154.543 240.245 161.868 221.12 166.26 211.482C174.599 193.177 212.457 184.557 212.457 184.557V184.563Z"
                            fill="#D84459" />
                        <g style="mix-blend-mode:multiply" opacity="0.3">
                            <path
                                d="M189.789 214.351L185.947 247.202C185.947 247.202 185.93 247.22 185.918 247.226C183.898 247.308 181.901 247.267 179.904 247.114L189.783 214.345L189.789 214.351Z"
                                fill="#606161" />
                        </g>
                        <path opacity="0.5"
                            d="M170.108 269.87C170.189 277.359 158.25 269.612 152.991 265.859C153.875 262.603 155.251 257.889 156.803 252.654C160 254.709 170.014 261.806 170.108 269.87Z"
                            fill="#E17F88" />
                        <path
                            d="M153.553 285.569L134.264 261.683C134.434 255.711 143.364 250.897 143.364 250.897L169.217 265.982C183.552 278.361 165.921 299.898 153.553 285.569Z"
                            fill="#F4B8AD" />
                        <path
                            d="M271.219 218.79C271.219 218.79 274.709 231.819 278.732 246.166C280.524 252.595 282.433 259.294 284.161 265.203C286.655 273.641 288.804 280.469 289.841 282.6L307.613 284.047C307.613 284.047 307.642 284.029 307.642 284.012C309.663 281.728 310.945 278.683 311.162 275.035C311.273 273.372 311.15 271.586 310.775 269.694C310.629 268.933 310.289 267.61 309.815 265.865C308.931 262.609 307.555 257.895 306.003 252.66C301.412 237.224 295.234 217.349 295.234 217.349C284.243 206.499 271.214 218.796 271.214 218.796L271.219 218.79Z"
                            fill="#F4B8AD" />
                        <path opacity="0.5"
                            d="M292.704 269.87C292.622 277.359 304.562 269.612 309.821 265.859C308.937 262.603 307.56 257.889 306.009 252.654C302.811 254.709 292.798 261.806 292.704 269.87Z"
                            fill="#E17F88" />
                        <path
                            d="M309.259 285.569L328.548 261.683C328.378 255.711 319.934 250.897 319.934 250.897L293.594 265.982C279.259 278.361 296.891 299.898 309.259 285.569Z"
                            fill="#F4B8AD" />
                        <path
                            d="M249.658 184.229C249.658 184.229 269.105 223.346 269.469 238.705C269.504 240.199 269.937 242.681 270.587 245.656C270.651 245.949 270.722 246.253 270.792 246.558C273.017 246.915 275.236 247.144 277.432 247.226C279.453 247.308 281.449 247.267 283.446 247.114C291.574 246.511 299.45 244.075 307.139 240.245C307.139 240.245 299.813 221.12 295.421 211.482C287.083 193.177 249.658 184.223 249.658 184.223V184.229Z"
                            fill="#D84459" />
                        <g style="mix-blend-mode:multiply" opacity="0.3">
                            <path
                                d="M273.568 214.351L276.835 247.272C276.267 247.343 281.449 247.272 283.44 247.12L273.562 214.351H273.568Z"
                                fill="#606161" />
                        </g>
                        <path
                            d="M253.886 148.269C253.886 148.269 258.378 136.832 265.803 139.356C273.234 141.88 265.563 160.876 254.15 157.152L253.886 148.269Z"
                            fill="#F4B8AD" />
                        <path
                            d="M263.66 144.615C258.407 144.697 255.538 149.51 255.415 149.715C255.292 149.926 255.362 150.195 255.573 150.312C255.649 150.353 255.725 150.377 255.807 150.371C255.953 150.371 256.094 150.289 256.17 150.154C256.188 150.125 257.259 148.327 259.221 146.974C261.065 148.105 260.228 151.191 260.216 151.226C260.152 151.46 260.287 151.7 260.515 151.77C260.562 151.782 260.603 151.788 260.65 151.788C260.837 151.788 261.007 151.659 261.06 151.472C261.101 151.319 261.985 148.069 260.029 146.483C261.024 145.938 262.19 145.534 263.525 145.493C263.572 145.493 263.613 145.493 263.66 145.493C263.876 145.522 264.099 145.294 264.093 145.048C264.093 144.808 263.894 144.609 263.648 144.615H263.66Z"
                            fill="#E17F88" />
                        <path
                            d="M208.024 147.695L208.287 156.572C200.856 159.494 194.479 152.274 193.179 146.254C192.529 143.215 193.168 140.492 195.598 139.491C200.733 137.406 204.797 142.343 206.747 145.429C207.573 146.723 208.024 147.689 208.024 147.689V147.695Z"
                            fill="#F4B8AD" />
                        <path
                            d="M198.045 144.62C203.292 144.392 206.443 149.024 206.577 149.223C206.712 149.428 206.659 149.697 206.454 149.832C206.384 149.879 206.302 149.902 206.226 149.908C206.08 149.908 205.933 149.844 205.845 149.715C205.828 149.686 204.651 147.958 202.613 146.723C200.839 147.958 201.858 150.992 201.869 151.027C201.951 151.255 201.828 151.507 201.6 151.589C201.553 151.606 201.512 151.612 201.465 151.612C201.278 151.612 201.102 151.507 201.038 151.319C200.985 151.173 199.913 147.982 201.77 146.278C200.745 145.792 199.556 145.458 198.221 145.499C198.174 145.499 198.133 145.499 198.086 145.499C197.87 145.546 197.641 145.323 197.63 145.083C197.618 144.843 197.805 144.638 198.045 144.626V144.62Z"
                            fill="#E17F88" />
                        <path
                            d="M256.035 142.085C256.621 162.305 246.291 179.099 232.776 180.171C232.495 180.212 232.208 180.229 231.927 180.229C220.379 180.575 210.308 169.373 206.864 153.767C206.132 150.546 205.687 147.121 205.588 143.578C204.979 122.931 215.777 113.187 229.696 112.765C243.633 112.361 255.426 121.437 256.035 142.079V142.085Z"
                            fill="#F4B8AD" />
                        <path
                            d="M261.282 139.614C261.282 139.614 257.089 142.36 255.871 144.866C255.871 144.866 256.106 151.87 253.91 158.674C253.91 158.674 252.78 146.986 254.355 140.527C254.396 140.334 254.448 140.141 254.472 139.965C254.77 138.548 254.876 137.178 254.847 135.913C254.841 135.04 254.765 134.221 254.665 133.465C252.85 131.872 247.902 129.553 247.439 123.809C247.439 123.809 227.207 134.66 217.838 133.559C219.946 129.395 224.883 126.286 224.965 126.093C224.613 126.321 213.358 130.262 207.76 130.555C207.391 131.814 206.981 133.676 206.94 135.884C206.917 137.096 206.999 138.419 207.257 139.795C207.333 140.199 207.415 140.598 207.526 141.007C209.224 147.437 208.34 159.137 208.34 159.137C206.003 152.379 206.085 145.118 206.085 145.118C205.342 142.143 201.705 140.088 201.705 140.088C201.331 138.94 195.27 123.282 195.937 119.177C197.009 112.578 202.97 110.159 202.97 110.159L197.442 110.358C205.113 91.971 230.861 88.1472 243.732 93.7043C256.597 99.2381 255.825 110.821 255.825 110.821C261.352 109.89 266.564 113.989 267.068 119.37C267.63 125.372 261.276 139.608 261.276 139.608L261.282 139.614Z"
                            fill="#293959" />
                        <path
                            d="M214.799 152.461C214.752 152.883 213.675 153.105 212.398 152.965C211.116 152.824 210.12 152.362 210.167 151.94C210.214 151.519 211.291 151.296 212.568 151.437C213.844 151.583 214.846 152.04 214.799 152.461Z"
                            fill="#E17F88" />
                        <path
                            d="M215.092 154.973C215.021 154.558 213.932 154.394 212.661 154.616C211.391 154.833 210.425 155.354 210.495 155.77C210.565 156.186 211.654 156.35 212.925 156.127C214.196 155.91 215.162 155.389 215.092 154.973Z"
                            fill="#E17F88" />
                        <path
                            d="M247.439 154.013C247.486 153.591 248.563 153.369 249.84 153.509C251.122 153.656 252.118 154.113 252.071 154.534C252.024 154.956 250.947 155.178 249.67 155.038C248.394 154.891 247.392 154.435 247.439 154.013Z"
                            fill="#E17F88" />
                        <path
                            d="M247.146 151.501C247.217 151.917 248.306 152.081 249.576 151.858C250.847 151.641 251.813 151.12 251.743 150.705C251.673 150.289 250.584 150.125 249.313 150.347C248.042 150.564 247.076 151.085 247.146 151.501Z"
                            fill="#E17F88" />
                        <path
                            d="M231.488 160.554C231.435 160.554 231.382 160.554 231.33 160.554C230.668 160.519 229.099 159.998 228.818 156.039C228.355 149.557 229.304 145.944 229.345 145.792C229.409 145.557 229.649 145.417 229.883 145.481C230.118 145.546 230.258 145.786 230.194 146.02C230.182 146.055 229.245 149.662 229.696 155.981C229.883 158.645 230.691 159.641 231.382 159.682C232.396 159.752 233.871 157.977 234.427 155.032C234.474 154.792 234.703 154.64 234.943 154.681C235.183 154.728 235.335 154.956 235.294 155.196C234.709 158.3 233.127 160.513 231.5 160.566L231.488 160.554Z"
                            fill="#E17F88" />
                        <path
                            d="M237.912 163.769C237.607 163.81 237.32 163.997 237.197 164.237C237.232 164.149 236.02 166.779 231.74 166.99C231.728 166.99 231.716 166.99 231.699 166.99C227.324 166.978 225.533 164.144 225.544 164.144C225.398 163.909 225.099 163.745 224.806 163.728C224.578 163.716 224.379 163.798 224.268 163.962C224.162 164.114 224.156 164.319 224.268 164.507C224.238 164.483 226.27 168.09 231.716 168.131C231.734 168.131 231.751 168.131 231.769 168.131C237.098 167.839 238.491 164.6 238.55 164.466C238.632 164.278 238.603 164.085 238.486 163.95C238.357 163.798 238.146 163.734 237.918 163.769H237.912Z"
                            fill="#E17F88" />
                        <path
                            d="M243.568 139.286C242.192 138.671 240.558 138.729 238.72 139.444C238.076 139.696 237.355 139.379 237.104 138.735C236.852 138.091 237.174 137.371 237.812 137.119C240.313 136.147 242.596 136.112 244.611 137.014C247.779 138.437 248.973 143.197 248.323 143.438C248.194 143.484 245.753 140.252 243.568 139.28V139.286Z"
                            fill="#293959" />
                        <path
                            d="M212.445 143.83C211.783 143.631 212.697 138.806 215.771 137.195C217.727 136.171 220.011 136.071 222.564 136.897C223.22 137.107 223.577 137.81 223.366 138.466C223.155 139.122 222.447 139.485 221.797 139.268C219.905 138.659 218.265 138.706 216.93 139.403C214.805 140.516 212.58 143.865 212.445 143.824V143.83Z"
                            fill="#293959" />
                        <path
                            d="M218.494 148.667C218.494 151.337 219.343 153.498 220.385 153.498C221.428 153.498 222.277 151.331 222.277 148.667C222.277 146.002 221.428 143.836 220.385 143.836C219.343 143.836 218.494 146.002 218.494 148.667Z"
                            fill="#293959" />
                        <path
                            d="M239.376 148.667C239.376 151.337 240.225 153.498 241.267 153.498C242.309 153.498 243.158 151.331 243.158 148.667C243.158 146.002 242.309 143.836 241.267 143.836C240.225 143.836 239.376 146.002 239.376 148.667Z"
                            fill="#293959" />
                        <path
                            d="M219.735 229.395L230.838 222.596L243.112 229.963C243.112 229.963 237.923 236.351 230.147 235.854C222.37 235.356 219.735 229.395 219.735 229.395Z"
                            fill="#8E8E8E" />
                        <path
                            d="M138.838 211.827L150.028 203.325C150.028 203.325 163.684 206.897 178.68 206.124C203.439 204.847 221.715 208.355 230.838 222.596L219.167 231.52C219.167 231.52 178.364 211.259 138.838 211.827Z"
                            fill="white" />
                        <path
                            d="M177.761 207.553C163.848 208.238 150.672 205.837 150.672 205.837C150.801 205.872 163.772 209.104 177.802 208.402C203.895 207.108 218.927 211.675 226.575 223.223L227.283 222.754C219.448 210.925 204.177 206.241 177.761 207.553Z"
                            fill="#E5E6E7" />
                        <path
                            d="M175.483 208.894C161.57 209.579 148.394 207.178 148.394 207.178C148.523 207.213 161.488 210.445 175.524 209.743C201.618 208.449 216.649 213.016 224.297 224.564L225.006 224.095C217.17 212.266 201.899 207.576 175.483 208.894Z"
                            fill="#E5E6E7" />
                        <path
                            d="M172.912 210.516C159.011 211.207 145.824 208.8 145.824 208.8C145.952 208.835 158.923 212.067 172.953 211.365C199.053 210.071 214.079 214.638 221.726 226.186L222.435 225.717C214.6 213.889 199.328 209.204 172.912 210.516Z"
                            fill="#E5E6E7" />
                        <path
                            d="M322.844 211.827L311.654 203.325C311.654 203.325 297.998 206.897 283.001 206.124C258.243 204.847 239.967 208.355 230.844 222.596L242.514 231.52C242.514 231.52 283.317 211.259 322.844 211.827Z"
                            fill="white" />
                        <path
                            d="M284.383 207.553C298.297 208.238 311.472 205.837 311.472 205.837C311.343 205.872 298.373 209.104 284.342 208.402C258.249 207.108 243.217 211.675 235.569 223.223L234.861 222.754C242.696 210.925 257.968 206.241 284.383 207.553Z"
                            fill="#E5E6E7" />
                        <path
                            d="M286.872 208.894C300.785 209.579 313.961 207.178 313.961 207.178C313.832 207.213 300.867 210.445 286.831 209.743C260.738 208.449 245.706 213.016 238.058 224.564L237.35 224.095C245.185 212.266 260.456 207.576 286.872 208.894Z"
                            fill="#E5E6E7" />
                        <path
                            d="M289.49 210.516C303.391 211.207 316.578 208.8 316.578 208.8C316.45 208.835 303.479 212.067 289.449 211.365C263.349 210.071 248.323 214.638 240.676 226.186L239.967 225.717C247.802 213.889 263.074 209.204 289.49 210.516Z"
                            fill="#E5E6E7" />
                        <path
                            d="M230.844 232.797V309.514C226.645 309.584 223.711 308.501 221.72 307.236C219.589 305.877 218.541 304.302 218.195 303.693L218.061 303.429C195.328 293.094 146.034 294.019 146.034 294.019L132.466 210.48C132.466 210.48 191.335 209.842 216.626 224.294C216.626 224.294 217.908 227.849 221.726 230.367C223.887 231.784 226.85 232.873 230.85 232.797H230.844Z"
                            fill="#00A6B0" />
                        <path
                            d="M221.72 230.367V307.242C219.589 305.883 218.541 304.308 218.195 303.699L218.061 303.435L216.626 224.3C216.626 224.3 217.908 227.855 221.726 230.373L221.72 230.367Z"
                            fill="#A8DDE0" />
                        <path
                            d="M212.866 291.934C212.954 291.934 213.042 291.952 213.13 291.958L210.589 235.139C208.305 235.127 206.46 233.277 206.46 230.987C206.46 230.455 206.571 229.945 206.753 229.477C197.155 226.49 170.107 218.965 144.459 220.084C144.635 220.547 144.746 221.044 144.746 221.565C144.746 223.861 142.884 225.717 140.594 225.717C140.307 225.717 140.032 225.688 139.763 225.635L148.4 283.748C148.757 283.637 149.132 283.561 149.524 283.561C151.533 283.561 153.161 285.112 153.26 287.062C163.344 286.928 188.969 287.461 209.136 295.425C209.236 293.475 210.864 291.923 212.872 291.923L212.866 291.934Z"
                            stroke="white" stroke-width="0.84" stroke-miterlimit="10" />
                        <path
                            d="M230.844 232.797V309.514C235.042 309.584 237.976 308.501 239.967 307.236C242.099 305.877 243.147 304.302 243.492 303.693L243.627 303.429C266.359 293.094 315.653 294.019 315.653 294.019L329.221 210.48C329.221 210.48 270.353 209.842 245.062 224.294C245.062 224.294 243.779 227.849 239.961 230.367C237.8 231.784 234.837 232.873 230.838 232.797H230.844Z"
                            fill="#00A6B0" />
                        <path
                            d="M239.961 230.367V307.242C242.093 305.883 243.141 304.308 243.486 303.699L243.621 303.435L245.056 224.3C245.056 224.3 243.773 227.855 239.955 230.373L239.961 230.367Z"
                            fill="#A8DDE0" />
                        <path
                            d="M248.821 291.934C248.733 291.934 248.645 291.952 248.557 291.958L251.099 235.139C253.383 235.127 255.227 233.277 255.227 230.987C255.227 230.455 255.116 229.945 254.934 229.477C264.532 226.49 291.58 218.965 317.228 220.084C317.053 220.547 316.941 221.044 316.941 221.565C316.941 223.861 318.804 225.717 321.093 225.717C321.38 225.717 321.655 225.688 321.925 225.635L313.287 283.748C312.93 283.637 312.555 283.561 312.163 283.561C310.155 283.561 308.527 285.112 308.427 287.062C298.343 286.928 272.718 287.461 252.551 295.425C252.452 293.475 250.824 291.923 248.815 291.923L248.821 291.934Z"
                            stroke="white" stroke-width="0.84" stroke-miterlimit="10" />
                        <path
                            d="M260.415 217.835C260.415 217.835 273.989 252.865 270.71 264.453L265.897 259.517L262.781 265.601C262.781 265.601 260.322 236.381 252.99 220.388C252.99 220.388 256.785 217.343 260.415 217.841V217.835Z"
                            fill="#F8961D" />
                        <path
                            d="M135.277 245.463C135.277 245.463 147.059 241.071 147.774 244.637C147.803 246.868 140.536 250.271 138.352 251.237C143.388 250.071 151.205 247.067 152.429 249.626C153.782 252.958 140.255 257.918 139.804 258.129C139.353 258.34 153.184 253.696 153.799 256.97C154.432 259.851 145.285 262.556 142.199 264.137C142.199 264.137 150.555 262.585 151.035 264.418C151.697 267.258 146.31 268.605 141.748 269.483C138.726 269.829 136.911 269.483 136.337 268.254C135.64 267.258 136.454 265.695 136.454 265.695C136.454 265.695 133.046 263.92 134.516 260.19C134.516 260.19 130.388 257.022 132.502 253.474C132.502 253.474 126.23 249.357 135.283 245.475L135.277 245.463Z"
                            fill="#F4B8AD" />
                        <path
                            d="M327.535 245.463C327.535 245.463 315.753 241.071 315.038 244.637C315.009 246.868 322.276 250.271 324.46 251.237C319.424 250.071 311.607 247.067 310.383 249.626C309.03 252.958 322.557 257.918 323.008 258.129C323.459 258.34 309.628 253.696 309.013 256.97C308.38 259.851 317.527 262.556 320.613 264.137C320.613 264.137 312.257 262.585 311.777 264.418C311.115 267.258 316.502 268.605 321.064 269.483C324.085 269.829 325.901 269.483 326.475 268.254C327.171 267.258 326.358 265.695 326.358 265.695C326.358 265.695 329.766 263.92 328.296 260.19C328.296 260.19 332.424 257.022 330.31 253.474C330.31 253.474 336.582 249.357 327.529 245.475L327.535 245.463Z"
                            fill="#F4B8AD" />
                        <path
                            d="M189.748 396.004C189.982 410.719 180.092 422.483 167.636 422.483H58.7773C58.8475 420.071 58.8827 417.629 58.8592 415.158C58.8592 414.127 58.8417 413.091 58.8124 412.054C58.7597 409.279 58.6426 406.468 58.4669 403.616C58.4025 402.568 58.3381 401.52 58.262 400.46C58.057 397.649 57.7993 394.803 57.489 391.922C57.3836 390.862 57.2665 389.808 57.1259 388.737C56.7921 385.885 56.4057 382.998 55.9723 380.076C55.8084 379.01 55.6503 377.927 55.4687 376.849C55.053 374.185 54.5845 371.474 54.0809 368.751H166.114C178.926 368.751 189.508 381.042 189.748 396.004Z"
                            fill="white" />
                        <path
                            d="M58.8592 415.152C58.8592 414.121 58.8417 413.085 58.8124 412.048H169.276L58.8592 415.152Z"
                            fill="#E5E6E7" />
                        <path
                            d="M58.4727 403.616C58.4083 402.568 58.3439 401.52 58.2678 400.46H168.948L58.4727 403.616Z"
                            fill="#E5E6E7" />
                        <path
                            d="M57.489 391.922C57.3836 390.862 57.2665 389.808 57.1259 388.737H168.603L57.489 391.922Z"
                            fill="#E5E6E7" />
                        <path
                            d="M55.9723 380.076C55.8084 379.01 55.6503 377.927 55.4687 376.849H168.251L55.9723 380.076Z"
                            fill="#E5E6E7" />
                        <path
                            d="M388.933 376.451C384.465 368.03 376.501 362.532 366.973 362.532H70.5123L71.0041 368.757H166.12C177.72 368.757 187.511 378.858 189.42 391.899C189.619 393.234 189.73 394.598 189.754 396.009C189.777 397.397 189.707 398.762 189.555 400.079C189.467 400.881 189.344 401.672 189.186 402.451C189.033 403.23 188.852 403.991 188.641 404.729C185.754 415.099 177.498 422.472 167.642 422.472H75.2262L75.7415 429.036H361.826C377.203 429.036 390.97 414.566 392.651 396.372C393.336 388.959 391.919 382.067 388.933 376.445V376.451Z"
                            fill="#8390C8" />
                        <g style="mix-blend-mode:soft-light">
                            <path
                                d="M366.048 396.378C364.625 414.572 350.993 429.042 335.686 429.042H101.911L101.489 422.478H167.642C177.498 422.478 185.754 415.105 188.641 404.735C188.852 403.997 189.028 403.235 189.186 402.457C189.338 401.678 189.467 400.887 189.555 400.085C189.707 398.767 189.777 397.403 189.754 396.015C189.73 394.604 189.619 393.245 189.42 391.905C187.511 378.864 177.72 368.762 166.12 368.762H98.0345L97.6363 362.538H339.89C354.36 362.538 365.422 375.286 366.136 391.623C366.2 393.181 366.177 394.774 366.048 396.384V396.378Z"
                                fill="white" />
                        </g>
                        <path
                            d="M312.034 362.532H70.5123L71.0041 368.757H166.12C177.72 368.757 187.511 378.858 189.42 391.899C189.619 393.234 189.73 394.598 189.754 396.009C189.777 397.397 189.707 398.762 189.555 400.079C189.467 400.881 189.344 401.672 189.186 402.451C189.033 403.23 188.852 403.991 188.641 404.729C185.754 415.099 177.498 422.472 167.642 422.472H75.2262L75.7415 429.036H308.808C321.913 429.036 333.595 418.466 337.437 404.049C338.087 401.596 338.52 399.019 338.69 396.372C339.873 377.827 327.909 362.526 312.034 362.526V362.532Z"
                            fill="#8390C8" />
                        <g style="mix-blend-mode:soft-light">
                            <path
                                d="M224.203 362.532H70.5123L71.0041 368.757H166.12C177.72 368.757 187.511 378.858 189.42 391.899C189.619 393.234 189.73 394.598 189.754 396.009C189.777 397.397 189.707 398.762 189.555 400.079C189.467 400.881 189.344 401.672 189.186 402.451C189.033 403.23 188.852 403.991 188.641 404.729C185.754 415.099 177.498 422.472 167.642 422.472H75.2262L75.7415 429.036H224.051C231.769 429.036 238.802 425.376 243.937 419.45C249.02 413.577 252.264 405.437 252.422 396.378C252.744 377.833 240.061 362.532 224.203 362.532Z"
                                fill="white" />
                        </g>
                        <path
                            d="M197.489 362.532H47.6103C45.6076 362.532 44.1202 363.931 44.2783 365.641L44.3369 366.291C44.5125 368.2 46.0936 369.073 47.7157 369.36C48.1841 369.447 48.6467 369.488 49.0859 369.488L146.971 368.868L166.12 368.751C177.72 368.751 187.511 378.852 189.42 391.893C189.619 393.228 189.73 394.592 189.754 396.003C189.777 397.391 189.707 398.756 189.555 400.073C189.467 400.881 189.344 401.672 189.186 402.445C189.033 403.224 188.852 403.985 188.641 404.723C185.801 414.718 177.831 420.744 167.982 420.744L149.876 420.598L54.1629 419.778C53.8877 419.778 53.6007 419.842 53.3314 419.948C53.0386 420.071 52.7575 420.229 52.4706 420.416C51.1589 421.318 50.421 422.641 50.3391 424.029C50.2512 425.317 50.708 426.653 51.7562 427.777C52.453 428.526 53.2494 429.042 54.0575 429.042H198.268C205.236 429.042 211.625 426.061 216.515 421.095C222.382 415.158 226.136 406.333 226.171 396.378C226.235 377.821 213.352 362.532 197.483 362.532H197.489Z"
                            fill="#8390C8" />
                        <g style="mix-blend-mode:multiply" opacity="0.2">
                            <path
                                d="M392.651 396.378C390.964 414.572 377.197 429.042 361.826 429.042H54.0634C53.2553 429.042 52.453 428.527 51.762 427.777C50.7138 426.659 50.2571 425.323 50.3449 424.029C58.9178 424.018 67.2447 424 75.3433 423.971C84.3788 423.936 93.1156 423.889 101.577 423.824C147.416 423.473 185.092 422.642 216.526 421.096C226.247 420.621 235.359 420.071 243.943 419.456C285.543 416.423 314.587 411.586 337.443 404.061C348.118 400.542 357.463 396.425 366.136 391.623C374.141 387.185 381.578 382.166 388.938 376.457C391.925 382.073 393.342 388.971 392.657 396.384L392.651 396.378Z"
                                fill="#A6A9AB" />
                        </g>
                        <path
                            d="M408.625 435.466C408.584 435.712 408.532 435.952 408.497 436.198C408.075 438.499 407.677 440.765 407.314 443.026C407.15 444.015 406.992 444.987 406.845 445.965C406.43 448.612 406.061 451.224 405.721 453.824C405.592 454.79 405.469 455.756 405.358 456.716C405.048 459.334 404.761 461.916 404.526 464.458C404.439 465.412 404.351 466.361 404.275 467.309C404.093 469.488 403.947 471.637 403.824 473.763H278.691C278.668 473.681 278.639 473.599 278.621 473.528C278.58 473.353 278.527 473.183 278.475 473.019C278.434 472.843 278.381 472.673 278.346 472.509C278.24 472.135 278.159 471.748 278.071 471.368C278.036 471.215 278.012 471.063 277.977 470.911C277.924 470.688 277.883 470.472 277.848 470.249C277.842 470.208 277.831 470.179 277.825 470.138C277.801 469.986 277.766 469.833 277.737 469.669C277.702 469.435 277.667 469.213 277.626 468.978C277.573 468.569 277.532 468.153 277.479 467.737C277.438 467.28 277.391 466.823 277.368 466.355C277.345 465.986 277.327 465.6 277.315 465.225C277.309 465.049 277.298 464.879 277.298 464.698C277.292 464.323 277.292 463.925 277.298 463.538C277.304 463.14 277.315 462.754 277.333 462.367C277.35 462.192 277.356 462.01 277.368 461.84C277.391 461.465 277.427 461.085 277.462 460.733V460.704C277.503 460.236 277.567 459.779 277.626 459.328C277.684 458.912 277.749 458.502 277.813 458.087C277.901 457.677 277.977 457.273 278.065 456.863C278.1 456.658 278.153 456.453 278.205 456.254C278.241 456.061 278.299 455.856 278.346 455.651C278.399 455.457 278.457 455.252 278.504 455.071C278.563 454.866 278.615 454.673 278.68 454.479C278.785 454.111 278.902 453.747 279.025 453.379C279.031 453.326 279.049 453.256 279.078 453.197C279.172 452.91 279.265 452.629 279.371 452.354C279.423 452.231 279.458 452.12 279.511 452.02C279.634 451.692 279.751 451.382 279.88 451.066C279.968 450.872 280.044 450.679 280.132 450.498C280.202 450.334 280.278 450.17 280.354 450.011C280.36 449.982 280.378 449.953 280.39 449.912C280.425 449.83 280.466 449.76 280.501 449.678C280.518 449.648 280.524 449.619 280.542 449.596C280.647 449.373 280.758 449.151 280.87 448.922C281.01 448.659 281.145 448.401 281.286 448.149C281.397 447.944 281.508 447.751 281.625 447.558C281.649 447.499 281.678 447.458 281.701 447.406C281.719 447.394 281.725 447.388 281.725 447.388C281.865 447.136 282.012 446.89 282.158 446.656C282.316 446.41 282.463 446.17 282.615 445.936C282.831 445.62 283.048 445.303 283.265 444.999C283.376 444.847 283.487 444.694 283.61 444.542C283.722 444.402 283.833 444.249 283.956 444.103C284.102 443.898 284.249 443.717 284.412 443.523C284.436 443.494 284.454 443.482 284.471 443.465C284.582 443.324 284.694 443.201 284.799 443.067C284.963 442.891 285.109 442.721 285.273 442.545C285.344 442.463 285.42 442.381 285.496 442.311C285.701 442.065 285.929 441.843 286.163 441.632C286.292 441.497 286.421 441.38 286.562 441.245C286.69 441.134 286.831 440.999 286.96 440.888C287.229 440.642 287.493 440.402 287.774 440.174C287.914 440.074 288.049 439.951 288.195 439.84C288.266 439.799 288.336 439.74 288.4 439.676C288.471 439.617 288.541 439.565 288.617 439.524C288.904 439.301 289.185 439.096 289.484 438.903C290.069 438.493 290.666 438.142 291.281 437.814C291.592 437.638 291.902 437.486 292.212 437.334C292.371 437.252 292.523 437.193 292.681 437.123C292.839 437.041 292.991 436.982 293.155 436.918C293.413 436.807 293.659 436.707 293.916 436.625C293.94 436.608 293.975 436.596 294.01 436.584C294.069 436.567 294.133 436.543 294.198 436.514C294.49 436.414 294.783 436.321 295.082 436.239C295.105 436.227 295.123 436.221 295.14 436.221C295.363 436.163 295.591 436.086 295.825 436.028C295.843 436.016 295.866 436.016 295.896 436.01C295.931 436.01 295.972 435.999 296.007 435.993C296.083 435.981 296.148 435.963 296.224 435.952C296.511 435.881 296.809 435.817 297.114 435.758C297.453 435.7 297.799 435.659 298.144 435.618C298.484 435.577 298.829 435.548 299.181 435.524C299.526 435.495 299.872 435.483 300.229 435.483L366.101 435.495H408.631L408.625 435.466Z"
                            fill="white" />
                        <path
                            d="M404.526 464.458C404.439 465.412 404.351 466.361 404.275 467.309L296.762 464.458H404.526Z"
                            fill="#E5E6E7" />
                        <path
                            d="M405.721 453.824C405.592 454.79 405.469 455.756 405.358 456.716L297.137 453.824H405.721Z"
                            fill="#E5E6E7" />
                        <path
                            d="M407.308 443.026C407.144 444.015 406.986 444.987 406.839 445.965L297.512 443.026H407.308Z"
                            fill="#E5E6E7" />
                        <path
                            d="M105.817 429.036C96.9042 429.036 89.4615 434.341 85.1516 442.545C82.0363 448.477 80.5841 455.914 81.3746 463.919C81.7143 467.356 82.4404 470.653 83.5003 473.751H278.703C278.68 473.669 278.65 473.593 278.639 473.517C278.603 473.394 278.562 473.265 278.527 473.136C278.51 473.089 278.504 473.054 278.486 473.007C278.445 472.837 278.393 472.673 278.352 472.503C278.252 472.129 278.158 471.748 278.076 471.362C278.041 471.209 278.012 471.063 277.977 470.905C277.93 470.682 277.889 470.466 277.848 470.237C277.842 470.202 277.83 470.173 277.825 470.132C277.801 469.98 277.766 469.822 277.743 469.652C277.702 469.429 277.672 469.201 277.631 468.967C277.579 468.551 277.532 468.141 277.485 467.719C277.467 467.561 277.456 467.397 277.438 467.233C277.409 466.94 277.385 466.648 277.362 466.349C277.344 465.974 277.321 465.594 277.309 465.207C277.303 465.037 277.298 464.868 277.292 464.686C277.292 464.3 277.292 463.913 277.292 463.515C277.298 463.128 277.315 462.73 277.327 462.355L277.362 461.817C277.385 461.448 277.421 461.079 277.45 460.71V460.681C277.497 460.218 277.555 459.761 277.62 459.316C277.678 458.889 277.743 458.491 277.813 458.075C277.889 457.665 277.971 457.255 278.059 456.845C278.1 456.646 278.147 456.435 278.194 456.236C278.235 456.043 278.287 455.844 278.34 455.633C278.387 455.44 278.445 455.241 278.492 455.053C278.551 454.854 278.609 454.655 278.662 454.462C278.767 454.099 278.885 453.724 279.007 453.373C279.019 453.314 279.037 453.25 279.066 453.191C279.16 452.892 279.253 452.617 279.359 452.342C279.406 452.225 279.447 452.114 279.494 451.997C279.617 451.68 279.739 451.364 279.868 451.048C279.95 450.855 280.026 450.667 280.114 450.48C280.19 450.316 280.266 450.146 280.337 449.982C280.348 449.953 280.366 449.924 280.372 449.888C280.407 449.812 280.448 449.736 280.483 449.66C280.501 449.631 280.512 449.601 280.53 449.572C280.635 449.344 280.747 449.121 280.858 448.899C280.987 448.641 281.127 448.378 281.268 448.132C281.379 447.933 281.49 447.739 281.602 447.534C281.631 447.476 281.66 447.429 281.684 447.382C281.695 447.37 281.701 447.365 281.701 447.365C281.842 447.113 281.988 446.873 282.14 446.633C282.287 446.393 282.439 446.152 282.597 445.918C282.814 445.59 283.025 445.28 283.247 444.981C283.358 444.817 283.47 444.665 283.593 444.519C283.704 444.372 283.815 444.232 283.938 444.085C284.084 443.875 284.237 443.687 284.401 443.506C284.418 443.476 284.436 443.459 284.453 443.435C284.565 443.301 284.676 443.172 284.787 443.037C284.945 442.861 285.092 442.692 285.261 442.522C285.326 442.434 285.408 442.358 285.484 442.288C285.695 442.036 285.917 441.813 286.152 441.602C286.28 441.474 286.409 441.351 286.55 441.216C286.679 441.099 286.819 440.976 286.948 440.859C287.217 440.619 287.481 440.384 287.762 440.15C287.902 440.045 288.037 439.928 288.183 439.822C288.26 439.775 288.324 439.717 288.394 439.658C288.459 439.6 288.535 439.553 288.605 439.5C288.892 439.278 289.179 439.073 289.472 438.88C290.063 438.481 290.661 438.118 291.275 437.79C291.58 437.615 291.89 437.457 292.201 437.316C292.359 437.24 292.511 437.17 292.669 437.099C292.827 437.023 292.979 436.965 293.143 436.894C293.401 436.789 293.647 436.678 293.905 436.59C293.934 436.572 293.969 436.561 293.998 436.549C294.063 436.531 294.127 436.508 294.192 436.479C294.484 436.379 294.777 436.285 295.076 436.203C295.093 436.192 295.111 436.186 295.128 436.186C295.357 436.127 295.574 436.057 295.814 435.998C295.831 435.987 295.86 435.987 295.878 435.981C295.913 435.969 295.96 435.963 295.995 435.952C296.065 435.94 296.13 435.922 296.206 435.911C296.499 435.84 296.797 435.776 297.102 435.717C297.442 435.659 297.787 435.612 298.132 435.571C298.472 435.53 298.818 435.501 299.169 435.483C299.514 435.466 299.86 435.454 300.211 435.454H392.241L392.78 429.03H105.817V429.036Z"
                            fill="#FEC543" />
                        <path
                            d="M366.534 429.036L366.095 435.46H300.217C299.866 435.46 299.52 435.472 299.175 435.489C298.818 435.507 298.472 435.536 298.138 435.577C297.793 435.618 297.447 435.665 297.108 435.723C296.809 435.782 296.505 435.852 296.212 435.917C296.142 435.928 296.077 435.946 296.001 435.958C295.966 435.969 295.919 435.975 295.884 435.987C295.866 435.999 295.837 435.999 295.82 436.004C295.579 436.063 295.363 436.133 295.134 436.192C295.117 436.192 295.099 436.204 295.082 436.209C294.783 436.286 294.49 436.385 294.198 436.485C294.133 436.514 294.069 436.531 294.004 436.555C293.975 436.567 293.94 436.572 293.911 436.596C293.653 436.684 293.407 436.789 293.149 436.9C292.985 436.971 292.827 437.029 292.675 437.105C292.517 437.176 292.365 437.24 292.207 437.322C291.896 437.468 291.58 437.632 291.281 437.796C290.667 438.124 290.069 438.499 289.478 438.885C289.185 439.09 288.898 439.295 288.611 439.506C288.535 439.553 288.465 439.606 288.4 439.664C288.324 439.723 288.26 439.781 288.189 439.828C288.043 439.934 287.903 440.051 287.768 440.156C287.493 440.39 287.223 440.625 286.954 440.865C286.825 440.982 286.685 441.105 286.556 441.222C286.415 441.357 286.286 441.485 286.158 441.608C285.929 441.819 285.707 442.042 285.49 442.294C285.414 442.364 285.332 442.44 285.267 442.528C285.103 442.692 284.951 442.867 284.793 443.043C284.682 443.178 284.571 443.307 284.459 443.441C284.442 443.459 284.424 443.482 284.407 443.512C284.243 443.693 284.09 443.88 283.944 444.091C283.821 444.238 283.71 444.378 283.599 444.525C283.476 444.671 283.364 444.823 283.253 444.987C283.031 445.286 282.814 445.596 282.603 445.924C282.445 446.158 282.299 446.398 282.146 446.639C282 446.879 281.848 447.119 281.707 447.371C281.707 447.371 281.695 447.382 281.69 447.388C281.66 447.435 281.631 447.482 281.608 447.54C281.496 447.745 281.385 447.933 281.274 448.138C281.133 448.389 280.993 448.647 280.864 448.905C280.753 449.127 280.641 449.344 280.536 449.578C280.518 449.607 280.507 449.637 280.489 449.666C280.454 449.742 280.413 449.818 280.378 449.894C280.366 449.935 280.349 449.959 280.343 449.988C280.267 450.152 280.19 450.322 280.12 450.486C280.038 450.667 279.962 450.861 279.874 451.054C279.74 451.37 279.622 451.686 279.5 452.002C279.453 452.12 279.412 452.231 279.365 452.348C279.259 452.623 279.166 452.904 279.072 453.197C279.043 453.256 279.025 453.32 279.013 453.379C278.891 453.73 278.773 454.105 278.668 454.468C278.609 454.661 278.551 454.86 278.498 455.059C278.451 455.252 278.393 455.452 278.346 455.639C278.299 455.85 278.24 456.049 278.2 456.242C278.153 456.441 278.1 456.652 278.065 456.851C277.977 457.261 277.901 457.671 277.819 458.081C277.749 458.497 277.69 458.901 277.626 459.322C277.567 459.767 277.503 460.224 277.462 460.687V460.716C277.427 461.085 277.397 461.454 277.368 461.823L277.333 462.361C277.315 462.742 277.304 463.134 277.298 463.521C277.292 463.919 277.298 464.305 277.298 464.692C277.298 464.873 277.309 465.043 277.315 465.213C277.327 465.6 277.345 465.974 277.368 466.355C277.391 466.654 277.409 466.946 277.444 467.239C277.462 467.409 277.473 467.567 277.491 467.725C277.538 468.147 277.585 468.563 277.637 468.973C277.678 469.207 277.708 469.429 277.749 469.658C277.772 469.827 277.807 469.986 277.831 470.138C277.836 470.173 277.848 470.202 277.854 470.243C277.895 470.466 277.936 470.682 277.983 470.911C278.018 471.069 278.047 471.221 278.082 471.368C278.164 471.748 278.258 472.135 278.358 472.509C278.399 472.679 278.451 472.843 278.492 473.013C278.51 473.06 278.516 473.095 278.533 473.142C278.568 473.271 278.609 473.405 278.645 473.522C278.662 473.599 278.686 473.669 278.709 473.757H109.049C108.036 470.653 107.351 467.362 107.064 463.925C106.724 459.867 106.965 455.949 107.702 452.301C110.443 438.809 119.988 429.042 132.039 429.042H366.534V429.036Z"
                            fill="#F8961D" />
                        <path
                            d="M158.999 429.036C145.367 429.036 134.791 441.48 133.509 457.659C133.351 459.691 133.333 461.787 133.48 463.919C133.714 467.356 134.346 470.653 135.307 473.751H278.691C278.668 473.669 278.639 473.593 278.627 473.517C278.592 473.394 278.551 473.265 278.516 473.136C278.498 473.089 278.492 473.054 278.475 473.007C278.434 472.837 278.381 472.673 278.34 472.504C278.241 472.129 278.147 471.748 278.065 471.362C278.03 471.209 278 471.063 277.965 470.905C277.918 470.682 277.877 470.466 277.836 470.237C277.831 470.202 277.819 470.173 277.813 470.132C277.79 469.98 277.754 469.822 277.731 469.652C277.69 469.429 277.661 469.201 277.62 468.967C277.567 468.551 277.52 468.141 277.473 467.719C277.456 467.561 277.444 467.397 277.427 467.233C277.397 466.941 277.374 466.648 277.35 466.349C277.333 465.974 277.309 465.594 277.298 465.207C277.292 465.037 277.286 464.868 277.28 464.686C277.28 464.3 277.28 463.913 277.28 463.515C277.286 463.128 277.304 462.73 277.315 462.355L277.35 461.817C277.374 461.448 277.409 461.079 277.438 460.71V460.681C277.485 460.218 277.544 459.761 277.608 459.316C277.667 458.889 277.731 458.491 277.801 458.075C277.877 457.665 277.959 457.255 278.047 456.845C278.088 456.646 278.135 456.435 278.182 456.236C278.223 456.043 278.276 455.844 278.328 455.633C278.375 455.44 278.434 455.241 278.481 455.053C278.539 454.854 278.598 454.655 278.65 454.462C278.756 454.099 278.873 453.724 278.996 453.373C279.008 453.314 279.025 453.25 279.054 453.191C279.148 452.893 279.242 452.617 279.347 452.342C279.394 452.225 279.435 452.114 279.482 451.997C279.605 451.68 279.728 451.364 279.857 451.048C279.939 450.855 280.015 450.667 280.103 450.48C280.179 450.316 280.255 450.146 280.325 449.982C280.337 449.953 280.354 449.924 280.36 449.889C280.395 449.812 280.436 449.736 280.472 449.66C280.489 449.631 280.501 449.602 280.518 449.572C280.624 449.344 280.735 449.121 280.846 448.899C280.975 448.641 281.116 448.378 281.256 448.132C281.368 447.933 281.479 447.739 281.59 447.534C281.619 447.476 281.649 447.429 281.672 447.382C281.684 447.371 281.69 447.365 281.69 447.365C281.83 447.113 281.977 446.873 282.129 446.633C282.275 446.393 282.427 446.153 282.586 445.918C282.802 445.59 283.013 445.28 283.236 444.981C283.347 444.817 283.458 444.665 283.581 444.519C283.692 444.372 283.804 444.232 283.926 444.085C284.073 443.875 284.225 443.687 284.389 443.506C284.407 443.476 284.424 443.459 284.442 443.435C284.553 443.301 284.664 443.172 284.776 443.037C284.934 442.862 285.08 442.692 285.25 442.522C285.314 442.434 285.396 442.358 285.472 442.288C285.683 442.036 285.906 441.813 286.14 441.603C286.269 441.474 286.398 441.351 286.538 441.216C286.667 441.099 286.808 440.976 286.936 440.859C287.206 440.619 287.469 440.385 287.75 440.15C287.891 440.045 288.026 439.928 288.172 439.822C288.248 439.776 288.312 439.717 288.383 439.658C288.447 439.6 288.523 439.553 288.594 439.5C288.88 439.278 289.167 439.073 289.46 438.88C290.052 438.481 290.649 438.118 291.264 437.79C291.568 437.615 291.879 437.457 292.189 437.316C292.347 437.24 292.499 437.17 292.657 437.099C292.816 437.023 292.968 436.965 293.132 436.895C293.389 436.789 293.635 436.678 293.893 436.59C293.922 436.572 293.957 436.561 293.987 436.549C294.051 436.531 294.116 436.508 294.18 436.479C294.473 436.379 294.766 436.286 295.064 436.204C295.082 436.192 295.099 436.186 295.117 436.186C295.345 436.127 295.562 436.057 295.802 435.999C295.82 435.987 295.849 435.987 295.866 435.981C295.902 435.969 295.948 435.963 295.984 435.952C296.054 435.94 296.118 435.922 296.194 435.911C296.487 435.84 296.786 435.776 297.09 435.718C297.43 435.659 297.775 435.612 298.121 435.571C298.461 435.53 298.806 435.501 299.157 435.483C299.503 435.466 299.848 435.454 300.2 435.454H392.229L392.768 429.03H158.999V429.036Z"
                            fill="#FEC543" />
                        <path
                            d="M244.013 429.036C228.66 429.036 216.415 444.817 216.772 463.919C216.784 464.411 216.802 464.891 216.825 465.371C216.977 468.287 217.422 471.092 218.113 473.751H278.691C278.668 473.669 278.639 473.593 278.627 473.517C278.592 473.394 278.551 473.265 278.516 473.136C278.498 473.089 278.492 473.054 278.475 473.007C278.434 472.837 278.381 472.673 278.34 472.504C278.241 472.129 278.147 471.748 278.065 471.362C278.03 471.209 278 471.063 277.965 470.905C277.918 470.682 277.877 470.466 277.836 470.237C277.831 470.202 277.819 470.173 277.813 470.132C277.79 469.98 277.754 469.822 277.731 469.652C277.69 469.429 277.661 469.201 277.62 468.967C277.567 468.551 277.52 468.141 277.473 467.719C277.456 467.561 277.444 467.397 277.427 467.233C277.397 466.941 277.374 466.648 277.35 466.349C277.333 465.974 277.309 465.594 277.298 465.207C277.292 465.037 277.286 464.868 277.28 464.686C277.28 464.3 277.28 463.913 277.28 463.515C277.286 463.128 277.304 462.73 277.315 462.355L277.35 461.817C277.374 461.448 277.409 461.079 277.438 460.71V460.681C277.485 460.218 277.544 459.761 277.608 459.316C277.667 458.889 277.731 458.491 277.801 458.075C277.877 457.665 277.959 457.255 278.047 456.845C278.088 456.646 278.135 456.435 278.182 456.236C278.223 456.043 278.276 455.844 278.328 455.633C278.375 455.44 278.434 455.241 278.481 455.053C278.539 454.854 278.598 454.655 278.65 454.462C278.756 454.099 278.873 453.724 278.996 453.373C279.008 453.314 279.025 453.25 279.054 453.191C279.148 452.893 279.242 452.617 279.347 452.342C279.394 452.225 279.435 452.114 279.482 451.997C279.605 451.68 279.728 451.364 279.857 451.048C279.939 450.855 280.015 450.667 280.103 450.48C280.179 450.316 280.255 450.146 280.325 449.982C280.337 449.953 280.354 449.924 280.36 449.889C280.395 449.812 280.436 449.736 280.472 449.66C280.489 449.631 280.501 449.602 280.518 449.572C280.624 449.344 280.735 449.121 280.846 448.899C280.975 448.641 281.116 448.378 281.256 448.132C281.368 447.933 281.479 447.739 281.59 447.534C281.619 447.476 281.649 447.429 281.672 447.382C281.684 447.371 281.69 447.365 281.69 447.365C281.83 447.113 281.977 446.873 282.129 446.633C282.275 446.393 282.427 446.153 282.586 445.918C282.802 445.59 283.013 445.28 283.236 444.981C283.347 444.817 283.458 444.665 283.581 444.519C283.692 444.372 283.804 444.232 283.926 444.085C284.073 443.875 284.225 443.687 284.389 443.506C284.407 443.476 284.424 443.459 284.442 443.435C284.553 443.301 284.664 443.172 284.776 443.037C284.934 442.862 285.08 442.692 285.25 442.522C285.314 442.434 285.396 442.358 285.472 442.288C285.683 442.036 285.906 441.813 286.14 441.603C286.269 441.474 286.398 441.351 286.538 441.216C286.667 441.099 286.808 440.976 286.936 440.859C287.206 440.619 287.469 440.385 287.75 440.15C287.891 440.045 288.026 439.928 288.172 439.822C288.248 439.776 288.312 439.717 288.383 439.658C288.447 439.6 288.523 439.553 288.594 439.5C288.88 439.278 289.167 439.073 289.46 438.88C290.052 438.481 290.649 438.118 291.264 437.79C291.568 437.615 291.879 437.457 292.189 437.316C292.347 437.24 292.499 437.17 292.657 437.099C292.816 437.023 292.968 436.965 293.132 436.895C293.389 436.789 293.635 436.678 293.893 436.59C293.922 436.572 293.957 436.561 293.987 436.549C294.051 436.531 294.116 436.508 294.18 436.479C294.473 436.379 294.766 436.286 295.064 436.204C295.082 436.192 295.099 436.186 295.117 436.186C295.345 436.127 295.562 436.057 295.802 435.999C295.82 435.987 295.849 435.987 295.866 435.981C295.902 435.969 295.948 435.963 295.984 435.952C296.054 435.94 296.118 435.922 296.194 435.911C296.487 435.84 296.786 435.776 297.09 435.718C297.43 435.659 297.775 435.612 298.121 435.571C298.461 435.53 298.806 435.501 299.157 435.483C299.503 435.466 299.848 435.454 300.2 435.454H392.229L392.768 429.03H243.996L244.013 429.036Z"
                            fill="#F8961D" />
                        <path
                            d="M414.956 429.036H269.873C254.513 429.036 242.052 444.817 242.116 463.919C242.116 464.756 242.151 465.576 242.204 466.396C242.356 468.943 242.737 471.409 243.311 473.751H278.709C278.645 473.546 278.586 473.341 278.516 473.136C278.457 472.919 278.399 472.709 278.34 472.504C278.241 472.129 278.147 471.748 278.065 471.362C278.03 471.209 278 471.063 277.965 470.905C277.918 470.682 277.877 470.466 277.836 470.237C277.831 470.202 277.819 470.173 277.813 470.132C277.79 469.98 277.754 469.822 277.731 469.652C277.69 469.429 277.661 469.201 277.62 468.967C277.567 468.551 277.52 468.141 277.473 467.719C277.456 467.561 277.444 467.397 277.427 467.233C277.397 466.941 277.374 466.648 277.35 466.349C277.333 465.974 277.309 465.594 277.298 465.207C277.292 465.037 277.286 464.868 277.28 464.686C277.28 464.3 277.28 463.913 277.28 463.515C277.286 463.128 277.304 462.73 277.315 462.355L277.35 461.817C277.374 461.448 277.409 461.079 277.438 460.71V460.681C277.485 460.218 277.544 459.761 277.608 459.316C277.667 458.889 277.731 458.491 277.801 458.075C277.877 457.665 277.959 457.255 278.047 456.845C278.088 456.646 278.135 456.435 278.182 456.236C278.223 456.043 278.276 455.844 278.328 455.633C278.375 455.44 278.434 455.241 278.481 455.053C278.539 454.854 278.598 454.655 278.65 454.462C278.756 454.099 278.873 453.724 278.996 453.373C279.008 453.314 279.025 453.25 279.054 453.191C279.148 452.893 279.242 452.617 279.347 452.342C279.394 452.225 279.435 452.114 279.482 451.997C279.605 451.68 279.728 451.364 279.857 451.048C279.939 450.855 280.015 450.667 280.103 450.48C280.179 450.316 280.255 450.146 280.325 449.982C280.337 449.953 280.354 449.924 280.36 449.889C280.395 449.812 280.436 449.736 280.472 449.66C280.489 449.631 280.501 449.602 280.518 449.572C280.624 449.344 280.735 449.121 280.846 448.899C280.975 448.641 281.116 448.378 281.256 448.132C281.368 447.933 281.479 447.739 281.59 447.534C281.619 447.476 281.649 447.429 281.672 447.382C281.684 447.371 281.69 447.365 281.69 447.365C281.83 447.113 281.977 446.873 282.129 446.633C282.275 446.393 282.427 446.153 282.586 445.918C282.802 445.59 283.013 445.28 283.236 444.981C283.347 444.817 283.458 444.665 283.581 444.519C283.692 444.372 283.804 444.232 283.927 444.085C284.073 443.875 284.225 443.687 284.389 443.506C284.407 443.476 284.424 443.459 284.442 443.435C284.553 443.301 284.664 443.172 284.776 443.037C284.934 442.862 285.08 442.692 285.25 442.522C285.314 442.434 285.396 442.358 285.472 442.288C285.683 442.036 285.906 441.813 286.14 441.603C286.269 441.474 286.398 441.351 286.538 441.216C286.667 441.099 286.808 440.976 286.936 440.859C287.206 440.619 287.469 440.385 287.75 440.15C287.891 440.045 288.026 439.928 288.172 439.822C288.248 439.776 288.312 439.717 288.383 439.658C288.447 439.6 288.523 439.553 288.594 439.5C288.88 439.278 289.167 439.073 289.46 438.88C290.052 438.481 290.649 438.118 291.264 437.79C291.568 437.615 291.879 437.457 292.189 437.316C292.347 437.24 292.499 437.17 292.657 437.099C292.816 437.023 292.968 436.965 293.132 436.895C293.389 436.789 293.635 436.678 293.893 436.59C293.922 436.572 293.957 436.561 293.987 436.549C294.051 436.531 294.116 436.508 294.18 436.479C294.473 436.379 294.766 436.286 295.064 436.204C295.082 436.192 295.099 436.186 295.117 436.186C295.345 436.127 295.562 436.057 295.802 435.999C295.82 435.987 295.849 435.987 295.866 435.981C295.902 435.969 295.948 435.963 295.984 435.952C296.054 435.94 296.118 435.922 296.194 435.911C296.487 435.84 296.786 435.776 297.09 435.718C297.43 435.659 297.775 435.612 298.121 435.571C298.461 435.53 298.806 435.501 299.157 435.483C299.503 435.466 299.848 435.454 300.2 435.454L408.467 436.186L413.427 436.215C415.348 436.215 417.807 435.442 418.059 432.913L418.124 432.245C418.299 430.471 416.876 429.024 414.938 429.024L414.956 429.036Z"
                            fill="#FEC543" />
                        <g style="mix-blend-mode:multiply" opacity="0.2">
                            <path
                                d="M278.715 473.757H83.4945C82.4346 470.653 81.7085 467.362 81.3689 463.925C80.5784 455.92 82.0306 448.483 85.1459 442.551C88.5891 445.438 95.1944 448.899 107.697 452.301C114.431 454.128 122.892 455.949 133.509 457.665C153.055 460.81 179.904 463.579 216.825 465.377C224.801 465.775 233.251 466.109 242.204 466.402C253.166 466.771 264.895 467.052 277.427 467.239C277.444 467.409 277.456 467.567 277.473 467.725C277.52 468.147 277.567 468.563 277.62 468.973C277.661 469.207 277.69 469.429 277.731 469.658C277.754 469.827 277.79 469.986 277.813 470.138C277.819 470.173 277.831 470.202 277.836 470.243C277.877 470.466 277.918 470.682 277.965 470.911C278 471.069 278.03 471.221 278.065 471.368C278.147 471.748 278.241 472.135 278.34 472.509C278.399 472.714 278.457 472.931 278.516 473.142C278.58 473.347 278.639 473.552 278.709 473.757H278.715Z"
                                fill="#A6A9AB" />
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-gray-100">
        <app-book-list></app-book-list>
    </div>
</div>