<!-- <ng-template #default>
    <div class="flex flex-col shadow-2xl mt-10 justify-center m-24" >
        <p class="font-bold text-2xl text-center my-14">This New Story</p>
        <div class="flex flex-wrap gap-5 justify-center ">
            <div *ngFor="let book of books" 
            class="flex flex-row gap-3 justify-between w-[500px] h-[200px] border-2 shadow-md rounded-xl bg-white mb-10">
                <div class="w-[300px] ">
                    <img src="../../../assets/images/{{book.photo}}" class="w-[300px] h-[200px]"/>
                </div>
                <div class="flex flex-col">
                    <div class="text-2xl font-semibold">{{book.title}}</div>
                    <div class="text-xl font-semibold text-yellow-500">{{book.author}}</div>
                    <div>{{book.description.slice(1,100)}}</div>
                    <div class="flex flex-row gap-3 m-3">
                        <a class="border-2 border-yellow-500 rounded-md px-3 text-yellow-500" routerLink="/view/{{book.id}}" type="submit">View</a>
                        <button class="border-2 border-blue-500 rounded-md px-3 text-blue-500" type="button" (click)="openPopup(book,book.id)">Edit</button>
                        <button class="border-2 border-red-500 rounded-md px-3 text-red-500" (click)="removeBook(book.id)" type="submit">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
</ng-template> -->

<ng-template #default>
    <div class="flex flex-col shadow-2xl mt-10 gap-5 justify-center m-24" >
        <p class="font-bold text-2xl text-center my-14">This New Story</p>
        <div class="flex flex-wrap gap-5 justify-center ">
            <div *ngFor="let book of books" 
            class="grid grid-cols-2  w-[470px] h-[200px] border-2 shadow-md rounded-xl bg-white mb-10">
                <!-- <div> -->
                    <img src="../../../assets/images/{{book.photo}}" class="w-[150px] h-[200px]"/>
                <!-- </div> -->
                <div class="flex flex-col">
                    <div class="text-2xl font-semibold">{{book.title}}</div>
                    <div class="text-xl font-semibold text-yellow-500">{{book.author}}</div>
                    <div>{{book.description.slice(1,100)}}</div>
                    <div class="flex flex-row gap-3 ">
                        <a class="border-2 border-yellow-500 rounded-md px-3 text-yellow-500" routerLink="/view/{{book.id}}" type="submit">View</a>
                        <button class="border-2 border-blue-500 rounded-md px-3 text-blue-500" type="button" (click)="openPopup(book,book.id)">Edit</button>
                        <button class="border-2 border-red-500 rounded-md px-3 text-red-500" (click)="removeBook(book.id)" type="submit">Delete</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</ng-template>

<ng-template #searchBook>
        <div class="flex flex-col shadow-2xl mt-10 gap-5 justify-center m-24" >
            <p class="font-bold text-2xl text-center my-14">{{viewBookFormCategory.category}}</p>
            <div class="flex flex-wrap gap-5 justify-center ">
                <div 
                class="grid grid-cols-2  w-[470px] h-[200px] border-2 shadow-md rounded-xl bg-white mb-10">
                    <!-- <div> -->
                        <img src="../../../assets/images/{{viewBookFormCategory.photo}}" class="w-[150px] h-[200px]"/>
                    <!-- </div> -->
                    <div class="flex flex-col">
                        <div class="text-2xl font-semibold">{{viewBookFormCategory.title}}</div>
                        <div class="text-xl font-semibold text-yellow-500">{{viewBookFormCategory.author}}</div>
                        <div>{{viewBookFormCategory.description.slice(1,100)}}</div>
                        <div class="flex flex-row gap-3 mb-5">
                            <a class="border-2 border-yellow-500 rounded-md px-3 text-yellow-500" routerLink="/view/{{viewBookFormCategory.id}}" type="submit">View</a>
                            <button class="border-2 border-blue-500 rounded-md px-3 text-blue-500" type="button" (click)="openPopup(viewBookFormCategory,viewBookFormCategory.id)">Edit</button>
                            <button class="border-2 border-red-500 rounded-md px-3 text-red-500" (click)="removeBook(viewBookFormCategory.id)" type="submit">Delete</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
</ng-template>

<!-- <div *ngIf="true" ; else searchBook >
    <ng-container [ngTemplateOutlet]="default"></ng-container>
</div>  -->

<div *ngIf="_default === true ; else searchBook">
    <ng-container [ngTemplateOutlet]="default"></ng-container>
</div>

<div class="overlay" *ngIf='show'>
    <div class="bg-white w-[400px] h-fit rounded-xl shadow-md">
        <div class="m-10 ">
            <form [formGroup]="bookForm">
            <div class="flex flex-col">
                <label class="font-bold">Title</label>
                <input type="text" formControlName="title" class="p-2 border-gray-500 border-2 w-full rounded-md outline-green-600 "/>
            </div>
            <div class="flex flex-col">
                <label class="font-bold">Author</label>
                <input type="text" formControlName="author" class="p-2 border-gray-500 border-2 w-full rounded-md outline-green-600 "/>
            </div>
            <div class="flex flex-col">
                <label class="font-bold">Description</label>
                <input type="text" formControlName="description" class="p-2 border-gray-500 border-2 w-full rounded-md outline-green-600 "/>
            </div> 
            <div formControlName="photo" ></div>
            <div class="flex flex-row mx-20 mt-5 gap-3">
                <button type="submit" (click)="closePopup()" class="bg-green-600 text-white py-2 px-4 rounded-xl">Cancel</button>
                <button type="submit" (click)="updateArticle() " class="bg-blue-600 text-white py-2 px-4 rounded-xl ">Update</button>
            </div>
        </form>
        </div>
    </div>
</div>

