.overlay{
    position: fixed;
    top : 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    background-color: #fff;
    width: 300px;
    height: 300px;
    padding: 20px;
    box-shadow: #fff;
}