<div>
    <div class="flex flex-col">
        
        <svg class="self-center" width="1200px" viewBox="0 0 1440 757" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="1440" height="399" fill="#1B3764" />
            <mask id="mask0_5_10983" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="-28" y="181" width="585"
                height="613">
                <rect x="557" y="794" width="585" height="613" transform="rotate(180 557 794)" fill="#C4C4C4" />
            </mask>
            <g mask="url(#mask0_5_10983)">
                <circle cx="399.5" cy="595.5" r="3.5" transform="rotate(180 399.5 595.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="399.5" cy="578.5" r="3.5" transform="rotate(180 399.5 578.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="399.5" cy="561.5" r="3.5" transform="rotate(180 399.5 561.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="399.5" cy="544.5" r="3.5" transform="rotate(180 399.5 544.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="399.5" cy="527.5" r="3.5" transform="rotate(180 399.5 527.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="399.5" cy="510.5" r="3.5" transform="rotate(180 399.5 510.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="382.5" cy="595.5" r="3.5" transform="rotate(180 382.5 595.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="382.5" cy="578.5" r="3.5" transform="rotate(180 382.5 578.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="382.5" cy="561.5" r="3.5" transform="rotate(180 382.5 561.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="382.5" cy="544.5" r="3.5" transform="rotate(180 382.5 544.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="382.5" cy="527.5" r="3.5" transform="rotate(180 382.5 527.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="382.5" cy="510.5" r="3.5" transform="rotate(180 382.5 510.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="365.5" cy="595.5" r="3.5" transform="rotate(180 365.5 595.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="365.5" cy="578.5" r="3.5" transform="rotate(180 365.5 578.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="365.5" cy="561.5" r="3.5" transform="rotate(180 365.5 561.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="365.5" cy="544.5" r="3.5" transform="rotate(180 365.5 544.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="365.5" cy="527.5" r="3.5" transform="rotate(180 365.5 527.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="365.5" cy="510.5" r="3.5" transform="rotate(180 365.5 510.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="348.5" cy="595.5" r="3.5" transform="rotate(180 348.5 595.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="348.5" cy="578.5" r="3.5" transform="rotate(180 348.5 578.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="348.5" cy="561.5" r="3.5" transform="rotate(180 348.5 561.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="348.5" cy="544.5" r="3.5" transform="rotate(180 348.5 544.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="348.5" cy="527.5" r="3.5" transform="rotate(180 348.5 527.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="348.5" cy="510.5" r="3.5" transform="rotate(180 348.5 510.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="331.5" cy="595.5" r="3.5" transform="rotate(180 331.5 595.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="331.5" cy="578.5" r="3.5" transform="rotate(180 331.5 578.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="331.5" cy="561.5" r="3.5" transform="rotate(180 331.5 561.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="331.5" cy="544.5" r="3.5" transform="rotate(180 331.5 544.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="331.5" cy="527.5" r="3.5" transform="rotate(180 331.5 527.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="331.5" cy="510.5" r="3.5" transform="rotate(180 331.5 510.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="314.5" cy="595.5" r="3.5" transform="rotate(180 314.5 595.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="314.5" cy="578.5" r="3.5" transform="rotate(180 314.5 578.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="314.5" cy="561.5" r="3.5" transform="rotate(180 314.5 561.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="314.5" cy="544.5" r="3.5" transform="rotate(180 314.5 544.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="314.5" cy="527.5" r="3.5" transform="rotate(180 314.5 527.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="314.5" cy="510.5" r="3.5" transform="rotate(180 314.5 510.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="297.5" cy="595.5" r="3.5" transform="rotate(180 297.5 595.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="297.5" cy="578.5" r="3.5" transform="rotate(180 297.5 578.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="297.5" cy="561.5" r="3.5" transform="rotate(180 297.5 561.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="297.5" cy="544.5" r="3.5" transform="rotate(180 297.5 544.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="297.5" cy="527.5" r="3.5" transform="rotate(180 297.5 527.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="297.5" cy="510.5" r="3.5" transform="rotate(180 297.5 510.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="84.5" cy="269.5" r="3.5" transform="rotate(180 84.5 269.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="84.5" cy="252.5" r="3.5" transform="rotate(180 84.5 252.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="84.5" cy="235.5" r="3.5" transform="rotate(180 84.5 235.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="84.5" cy="218.5" r="3.5" transform="rotate(180 84.5 218.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="84.5" cy="201.5" r="3.5" transform="rotate(180 84.5 201.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="84.5" cy="184.5" r="3.5" transform="rotate(180 84.5 184.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="67.5" cy="269.5" r="3.5" transform="rotate(180 67.5 269.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="67.5" cy="252.5" r="3.5" transform="rotate(180 67.5 252.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="67.5" cy="235.5" r="3.5" transform="rotate(180 67.5 235.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="67.5" cy="218.5" r="3.5" transform="rotate(180 67.5 218.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="67.5" cy="201.5" r="3.5" transform="rotate(180 67.5 201.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="67.5" cy="184.5" r="3.5" transform="rotate(180 67.5 184.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="50.5" cy="269.5" r="3.5" transform="rotate(180 50.5 269.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="50.5" cy="252.5" r="3.5" transform="rotate(180 50.5 252.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="50.5" cy="235.5" r="3.5" transform="rotate(180 50.5 235.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="50.5" cy="218.5" r="3.5" transform="rotate(180 50.5 218.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="50.5" cy="201.5" r="3.5" transform="rotate(180 50.5 201.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="50.5" cy="184.5" r="3.5" transform="rotate(180 50.5 184.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="33.5" cy="269.5" r="3.5" transform="rotate(180 33.5 269.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="33.5" cy="252.5" r="3.5" transform="rotate(180 33.5 252.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="33.5" cy="235.5" r="3.5" transform="rotate(180 33.5 235.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="33.5" cy="218.5" r="3.5" transform="rotate(180 33.5 218.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="33.5" cy="201.5" r="3.5" transform="rotate(180 33.5 201.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="33.5" cy="184.5" r="3.5" transform="rotate(180 33.5 184.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="16.5" cy="269.5" r="3.5" transform="rotate(180 16.5 269.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="16.5" cy="252.5" r="3.5" transform="rotate(180 16.5 252.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="16.5" cy="235.5" r="3.5" transform="rotate(180 16.5 235.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="16.5" cy="218.5" r="3.5" transform="rotate(180 16.5 218.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="16.5" cy="201.5" r="3.5" transform="rotate(180 16.5 201.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="16.5" cy="184.5" r="3.5" transform="rotate(180 16.5 184.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="-0.5" cy="269.5" r="3.5" transform="rotate(180 -0.5 269.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="-0.5" cy="252.5" r="3.5" transform="rotate(180 -0.5 252.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="-0.5" cy="235.5" r="3.5" transform="rotate(180 -0.5 235.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="-0.5" cy="218.5" r="3.5" transform="rotate(180 -0.5 218.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="-0.5" cy="201.5" r="3.5" transform="rotate(180 -0.5 201.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="-0.5" cy="184.5" r="3.5" transform="rotate(180 -0.5 184.5)" fill="#F5F6F8"
                    fill-opacity="0.6" />
                <circle cx="-140" cy="507" r="237.5" transform="rotate(180 -140 507)" stroke="#F5F6F8"
                    stroke-opacity="0.3" stroke-width="25" />
            </g>
            <mask id="mask1_5_10983" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="855" y="-2" width="585"
                height="613">
                <rect x="855" y="-2" width="585" height="613" fill="#C4C4C4" />
            </mask>
            <g mask="url(#mask1_5_10983)">
                <circle cx="1099.5" cy="3.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1099.5" cy="20.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1099.5" cy="37.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1099.5" cy="54.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1099.5" cy="71.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1099.5" cy="88.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1116.5" cy="3.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1116.5" cy="20.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1116.5" cy="37.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1116.5" cy="54.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1116.5" cy="71.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1116.5" cy="88.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1133.5" cy="3.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1133.5" cy="20.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1133.5" cy="37.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1133.5" cy="54.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1133.5" cy="71.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1133.5" cy="88.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1150.5" cy="3.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1150.5" cy="20.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1150.5" cy="37.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1150.5" cy="54.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1150.5" cy="71.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1150.5" cy="88.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1167.5" cy="3.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1167.5" cy="20.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1167.5" cy="37.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1167.5" cy="54.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1167.5" cy="71.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1167.5" cy="88.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1184.5" cy="3.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1184.5" cy="20.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1184.5" cy="37.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1184.5" cy="54.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1184.5" cy="71.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1184.5" cy="88.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1201.5" cy="3.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1201.5" cy="20.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1201.5" cy="37.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1201.5" cy="54.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1201.5" cy="71.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1201.5" cy="88.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1327.5" cy="522.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1327.5" cy="539.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1327.5" cy="556.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1327.5" cy="573.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1327.5" cy="590.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1327.5" cy="607.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1344.5" cy="522.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1344.5" cy="539.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1344.5" cy="556.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1344.5" cy="573.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1344.5" cy="590.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1344.5" cy="607.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1361.5" cy="522.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1361.5" cy="539.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1361.5" cy="556.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1361.5" cy="573.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1361.5" cy="590.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1361.5" cy="607.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1378.5" cy="522.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1378.5" cy="539.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1378.5" cy="556.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1378.5" cy="573.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1378.5" cy="590.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1378.5" cy="607.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1395.5" cy="522.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1395.5" cy="539.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1395.5" cy="556.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1395.5" cy="573.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1395.5" cy="590.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1395.5" cy="607.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1412.5" cy="522.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1412.5" cy="539.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1412.5" cy="556.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1412.5" cy="573.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1412.5" cy="590.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1412.5" cy="607.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1429.5" cy="522.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1429.5" cy="539.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1429.5" cy="556.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1429.5" cy="573.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1429.5" cy="590.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1429.5" cy="607.5" r="3.5" fill="#F5F6F8" fill-opacity="0.6" />
                <circle cx="1552" cy="285" r="237.5" stroke="#F5F6F8" stroke-opacity="0.3" stroke-width="25" />
            </g>
        </svg>
        <div class="absolute bg-white w-[1000px] h-[800px] self-center mt-36 shadow-2xl rounded-md">
            
        </div>

        <div class="absolute mt-14 flex flex-row m-80 gap-20">
            <div>
                <img src="../../../assets/images/{{viewBook.photo}}" />
            </div>
            <div class="flex flex-col mt-32 gap-2">
                <div class="font-bold text-5xl">{{viewBook.title}}</div>
                <div class="font-bold text-3xl text-yellow-500">{{viewBook.author}}</div>
                <div>{{viewBook.category}}</div>
            </div>
            
        </div>

        <div class="absolute self-start m-80 mt-96">
            <div class="text-2xl">Description</div> 
            <div>{{viewBook.description}}</div>
        </div>
    </div>
</div>

<!-- <div class="flex flex-row gap-3 justify-between w-[500px] border-2">
    <div>1</div>
    <div class="flex flex-col">
        <div>{{viewBook.title}}</div>
        <div>{{viewBook.author}}</div>
        <div>{{viewBook.description}}</div>
    </div>
</div> -->