
<div class="flex flex-row gap-2">
    <div class="flex flex-col w-2/12 ml-5">
        <div class="flex flex-row gap-2 mt-10 border-yellow-400 border-2 rounded-md w-full p-2 ">
            <div>
            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="20px" height="20px"><path d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z"/>
            </svg>
            </div>
            <div>
            <input type="text" [(ngModel)]="searchText"
                class="outline-none"
                placeholder="search category" />
            </div>
        </div>
        <div class="flex flex-col">
            <ul>
                <li class="text-start m-1 cursor-pointer hover:bg-gray-100 rounded-md p-2 text-yellow-400" *ngFor="let book of books | filter: searchText"
                    (click)="clickCategory(book.category)">
                    {{book.category}}
                </li>
            </ul>

        </div>

    </div>
    <div class="w-10/12">
        <app-book-list [filter]="filterBook"></app-book-list>
    </div>
</div>




